<div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'>
                <h2>Let&#146;s Connect!</h2>
            </a>
            <div class='contact-box'>
            <div class='contact-wrap'>
                <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
                <span class='contact-text'>jacob.kim.johnson@gmail.com</span>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="tel:608-790-7675">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <span class='contact-text'>(608) 790-7675</span>
                </p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                   <i class="fab fa-linkedin-in"></i>
                </a>
                <span class='contact-text'>in/jacobkimjohnson</span>
            </div>
            </div>
        </div>

    </div>
<div class="footer">
    <p>Copyright © 2016 - 2020 Jacob Kim Johnson. All rights reserved.</p>
</div>
    </div>