<div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'>
                <h2>let&#146;s connect</h2>
            </a>
            <div class='contact-wrap'>
                <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                    <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
                </a>
                <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="tel:608-790-7675">
                    <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
                </a>
                <p class='contact-text'>(608) 790-7675</a>
                </p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                    <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
                </a>
            </div>
        </div>

    </div>
<div class="footer">
    <p>Copyright © 2016 - 2020 Jacob Kim Johnson. All rights reserved.</p>
</div>
    </div>