<header id="top-anchor">
    <div class="logo">
        <a href="/"><img src="images/header/logo/wts-logo.svg" alt="words to song logo"></a>
    </div>

    <nav>
            <ul>
                <li><a class="smoothScroll" href='#resume-anchor'>resume</a></li>
                <li><a class="smoothScroll" href='#portfolio-anchor'>portfolio</a></li>
                <li><a class="smoothScroll" href='#contact-anchor'>contact</a></li>
            </ul>
        {{!-- <div class="burger"><a href="#nav">&equiv;</a></div> --}}
    </nav>
</header>