<header>
    <div class="logo">
        <a href="/"><img src="images/header/logo/tfd-logo.svg" alt="toons for days logo"></a>
    </div>
</header>
<nav>
            <ul>
                <li><a href="/archive"><img src="images/header/buttons/archive-button.svg" alt="archive button"></a></li>
                <li><a href="/about"><img src="images/header/buttons/about-button.svg" alt="about button"></a></li>
                <li><a href="#"><img src="images/header/buttons/submit-button.svg" alt="submit button"></a></li>
                
            </ul>
        {{!-- <div class="burger"><a href="#nav">&equiv;</a></div> --}}
    </nav>
