<header id="top-anchor">
    <div class='header-image'>
        <div class="mobile-logo">
            <a href="/"><img src="images/header/logo/mobile-logo.svg" alt="jkj mobile logo"></a>
        </div>
        <div class="logo">
            <a href="/"><img src="images/header/logo/full-logo.svg" alt="jkj logo"></a>
        </div>
    <div class='header-contact'>
                
                    <a id='header-contact-btn' class='smoothScroll' href='#contact-anchor'>
                        Contact
                            </a>
                
    </div>
</header>