<header id="top-anchor">
    <div class='header-image'>
        <div class="logo">
            <a href="/"><img src="images/header/logo/blue-cream-logo2.svg" alt="words to song logo"></a>
        </div>
    </div>
</header>
{{!-- <div class='hidden-head'>
    <div class="logo">
        <img src="images/header/logo/blue-cream-logo2.svg" alt="words to song logo">
    </div>
</div> --}}