<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h2>CBE Website "Final" Facelift Process</h2>
        <p>
            <i>
                Disclaimer: This website facelift is a proposal I was asked to provide for consideration and would be implemented when the budget allows.
            </i> 
        </p>
        <h3>The Proposal</h3>
        <p>
           A major responsibility of mine while at CBE was to assess, evaluate, and make improvements to the website's user experience. 
           It was a multi-phased project that transformed the website from a database with difficult navigation, to a more user friendly, content-focused resource site. 
           Throughout the process, multiple mockups were created to accommodate for the shorter-term needs of the organization. These particular mockups were requested to be the “final” look of all the work and research we had accomplished at that point in time.
        </p>
        <h3>The Process</h3>
        <p>
            I joined CBE in the midst of the initial website overhaul, but before there was a deliberate direction of approaching the UX and UI. 
            As the coordinator of the site’s content, as well as the graphic designer, it was my responsibility to improve the design and functionality of site to push the organization’s reach, since it had primarily relied on its print publications. 
            I was presented a wishlist of features staff wanted to implement, but given budgetary and time constraints, everything had to broken up according to priority to handle at different times during the phases.
        </p>
        <p>
            During each phase, as part of the communications team, I evaluated some of the organization’s pain points, assessed Google Analytics to see where the website performed strongest, as well as administered user research and tests to see what changes were effective. 
            Due to all the moving parts, a lot of time was spent evaluating the changes and discussing how to best improve in subsequent phases. The more minor updates fell into sub-phases, while working on making the major changes the most effective they could with our resources. 
        <h3>The Progress</h3>
        <p>
            Although I was unable to see the project through to the next major phase (the one where most of these proposals would be implemented) before leaving the organization, I was assured that the goals and design choices would continue in the same trajectory I had help put in place.  
            Creating these mockups was one of my last projects with the organization, particularly within my UX/UI responsibilities. While no major changes have been made in my absence, I have seen some minor changes to help continue to improve the user experience. 
 
        </p>
        <h3>The Presentation</h3>
        <div class='cbe-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the homepage</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a magazine/journal article</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a blog post</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(4)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a primary page (e.g. "About CBE")</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(5)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the overview list of magazines/journals by year </p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(6)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of list of contents of a magazine</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(7)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a list of contents of a journal</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(8)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the events calendar page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(9)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an events page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(10)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an example search result</p>
                </div>
            </div>

            <div id="myCBEModal" class="modal">
                <span class="close cursor" onclick="closeCBEModal()">&times;</span>
                <div class="modal-content">

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-homepage-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-article-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-blog-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-primary-page-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-contents-year-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-event-page-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-search-mock.png" style="width:100%">
                    </div>


                    
                    <a class="prev" onclick="cbePlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="cbePlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="cbe-caption"></p>
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(1)" alt="CBE homepage mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(2)" alt="CBE article page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(3)" alt="CBE blog post mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(4)" alt="CBE primary page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(5)" alt="CBE year contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(6)" alt="CBE magazine contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(7)" alt="CBE journal contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(8)" alt="CBE events calendar mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(9)" alt="CBE events page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(10)" alt="CBE search results mockup">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>