<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h1 class='name'>CBE Website Facelift Process</h1>
        <h3>The Prep</h3>
        <p>
            I was hired by CBE International primarily to be responsible for the UX/UI changes that were made to the organization&#146;s websites. 
            Throughout the process, I created wireframes and mockups of features to be changed or added to improve the overall experience, in continuous design fashion.
            It was a multi-phased project that transformed the website from a database with difficult navigation, to a more user friendly, content-focused resource site. 
        </p>
        <h3>The Plan</h3>
        <p>
            While CBE operated with continuous design, a more substantial website facelift was a longer-term desire after the rebranding, when the budget allowed.
            As the UX/UI designer, I evaluated some of the organization&#146;s pain points, assessed Google Analytics to see where the website performed strongest, as well as administered user research and tests to see what changes were effective and would be included in the facelift design.
            Coordinating with the communications team, I produced a UI plan that would vastly improve the overall experience, including:
        </p>
        <ul>
            <li>
                a more intuitive homepage that includes important links to articles, events, publications, appeals, etc. in a clear, organized manner
            </li>
            <li>
                a deliberate sitemap that has a well-intentioned userflow to make pages much easier to navigate between one another
            </li>
            <li>
                a cleaner, more visual display of publications and contents within each publication
            </li>
            <li>
                a more intuitive view of upcoming events
            </li>
            <li>
                a more intensive and specific search module
            </li>
        </ul>

        <h3>The Progress</h3>
        <p>
            Although I was unable to see the project through before leaving the organization, I was assured that the goals and design choices would continue in the same trajectory I had help put in place.  
            Creating these mockups was one of my last projects with the organization, particularly within my UX/UI responsibilities. While a full redesign has yet to be implemented, I have seen some minor changes from my designs to help continue to improve the user experience. 
        </p>
        <h3>The Presentation</h3>
        <div class='cbe-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the homepage</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a magazine/journal article</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a blog post</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(4)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a primary page (e.g. &#8220;About CBE&#8221;)</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(5)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the overview list of magazines/journals by year </p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(6)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of list of contents of a magazine</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(7)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a list of contents of a journal</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(8)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the events calendar page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(9)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an events page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(10)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an example search result</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-rachel-anderson-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(11)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Rachel Anderson</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-thomas-lee-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(12)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Thomas Lee</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-mary-gerrard-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(13)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Mary Gerrard</p>
                </div>
            </div>

            <div id="myCBEModal" class="modal">
                <span class="close cursor" onclick="closeCBEModal()">&times;</span>
                <div class="modal-content">

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-homepage-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-article-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-blog-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-primary-page-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-contents-year-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-event-page-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-search-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-rachel-anderson.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-thomas-lee.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-mary-gerrard.png" style="width:100%">
                    </div>


                    
                    <a class="prev" onclick="cbePlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="cbePlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="cbe-caption"></p>
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(1)" alt="CBE homepage mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(2)" alt="CBE article page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(3)" alt="CBE blog post mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(4)" alt="CBE primary page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(5)" alt="CBE year contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(6)" alt="CBE magazine contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(7)" alt="CBE journal contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(8)" alt="CBE events calendar mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(9)" alt="CBE events page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(10)" alt="CBE search results mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-rachel-anderson-prev.png" style="width:100%" onclick="cbeCurrentSlide(11)" alt="User Persona Rachel Anderson">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-thomas-lee-prev.png" style="width:100%" onclick="cbeCurrentSlide(12)" alt="User Persona Thomas Lee">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-mary-gerrard-prev.png" style="width:100%" onclick="cbeCurrentSlide(13)" alt="User Persona Mary Gerrard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>