<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h1 class='name'>CBE International</h1>
        <p>
            CBE International is a faith-based egalitarian nonprofit organization, advocating for gender equality in the church, home, and greater world. 
            Along with an annual international conference, they release a quarterly magazine (<i>Mutuality</i>), a quarterly academic journal (<i>Priscilla Papers</i>), and an online blog (<i>Arise</i>). 
            They also operate a bookstore with important egalitarian resources, including self-published materials. 
        </p>
        <p>
            For the better part of its existence, the CBE website operated mostly as a database of important resources for members, with selected free resources for the public, presented as PDFs. 
            While constituents found value in what was offered, decades of resources were unavailable to both members and the public. 
            As a nonprofit organization, CBE is funded primarily by donations, so there was real value to be had having those resources available and accessible to potential donors to better understand CBE’s mission.
        </p>
        <h3>Initial Research</h3>
        <p>
            According to leadership, the desire of the website is to inform visitors, but also bring enough value to them so they support the mission and hopefully become donors and/or members. 
            We assessed website analytics and surveyed users in order to understand their website behaviors and user flows. 
            While we interviewed both CBE members and non-members, the consensus was pretty clear: users come to the site, find what they’re looking for, and exit the site. 
            Nothing is really keeping them around. 
        </p>
        <h3>The Problem</h3>
        <p>
            It was clear that the reason users weren’t giving much investment to CBE through the website, was because a return value wasn’t offered. 
            The website was more of an indication of the organization’s existence, with some key resources for those who were seeking them. 
            In order to build an experience that would help drive traffic and convert users into donors or members, there would have to be more content offered, and a better way to navigate through the content.  
        </p>
        <h4>Pain Points</h4>
        <ul>
            <li>
                A homepage that is unfortunately too distracting to be helpful
            </li>
            <li>
                Limited resources to satisfy visitors
            </li>
            <li>
                Unintuitive navigation
            </li>
            <li>
                Basic search function
            </li>
        </ul>

        <h4>User Personas</h4>
        <h3>Phase 2</h3>
        <p>
            For the following two years, the CBE website operated under a continuous, iterative design process, making minor improvements to the user interface to foster the experience as a content-focused resource site. 
            To also improve the user experience outside of the website proper, more efforts were put into social media platforms (namely, Facebook and Twitter) to increase traffic to the website, as well as improve community interaction. 
        </p>
        <p>
            Further research (user surveys and Google analytics analysis, primarily) indicated significant traffic was now coming from social media. 
            However, even with more content to share, visitors were still stuck in a loop of visiting the site for the article they were seeking, then exiting (although it certainly improved from before). 
            We found that the pain points of the new version of the reflected the old ones, only evolved.
        </p>
        <p>
           The solution we decided would help keep traffic to stay on the website longer was recommended articles based on those visitors were reading. 
           While it didn’t guarantee significant increases of time, it would bring awareness to visitors of the vast amount of content available to them, and help them see the value of supporting the organization.
        </p>
         <p>
           On top of the pain points, CBE was in the process of rebranding. 
           It was requested that I mock up a complete website “facelift,” making improvements to the user experience based on our research and implementing the branding update. 
        </p>
        <h3>Reflection</h3>
        <p>
           CBE had gone through some significant evolutions over the 3+ years I worked with them. 
           I found a lot of fulfillment contributing my skills and knowledge to progressively improve the experience of the website and social media. 
           With my help, yearly website traffic increased over 110%, and the both Facebook and Twitter saw significant increases in interactions. 
        </p>
        <p>
           On top of the pain points, CBE was in the process of rebranding. 
           It was requested that I mock up a complete website “facelift,” making improvements to the user experience based on our research and implementing the branding update. 
        </p>
        <p>
           Although I was unable to see the entire project through before leaving the organization, I was assured that the goals and design choices would continue in the same trajectory I had help put in place.  
        </p>
        <div class='cbe-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the homepage</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a magazine/journal article</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a blog post</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(4)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a primary page (e.g. &#8220;About CBE&#8221;)</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(5)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the overview list of magazines/journals by year </p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(6)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of list of contents of a magazine</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(7)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of a list of contents of a journal</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(8)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of the events calendar page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(9)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an events page</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(10)" class="hover-shadow cursor">
                    <p class='cap'>Mockup of an example search result</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-rachel-anderson-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(11)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Rachel Anderson</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-thomas-lee-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(12)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Thomas Lee</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/cbe/user-persona-mary-gerrard-prev.png" style="width:100%" onclick="openCBEModal();cbeCurrentSlide(13)" class="hover-shadow cursor">
                    <p class='cap'>User Persona: Mary Gerrard</p>
                </div>
            </div>

            <div id="myCBEModal" class="modal">
                <span class="close cursor" onclick="closeCBEModal()">&times;</span>
                <div class="modal-content">

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-homepage-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-article-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-blog-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-primary-page-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-contents-year-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock.png" style="width:100%">
                    </div>
                       <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-event-page-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/cbe-search-mock.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-rachel-anderson.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-thomas-lee.png" style="width:100%">
                    </div>

                    <div class="myCBESlides">
                        <img src="/images/web-dev/process/cbe/user-persona-mary-gerrard.png" style="width:100%">
                    </div>


                    
                    <a class="prev" onclick="cbePlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="cbePlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="cbe-caption"></p>
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-homepage-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(1)" alt="CBE homepage mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-article-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(2)" alt="CBE article page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-blog-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(3)" alt="CBE blog post mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-primary-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(4)" alt="CBE primary page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-contents-year-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(5)" alt="CBE year contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-mag-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(6)" alt="CBE magazine contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-journal-contents-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(7)" alt="CBE journal contents mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-events-calendar-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(8)" alt="CBE events calendar mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-event-page-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(9)" alt="CBE events page mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/cbe-search-mock-prev.png" style="width:100%" onclick="cbeCurrentSlide(10)" alt="CBE search results mockup">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-rachel-anderson-prev.png" style="width:100%" onclick="cbeCurrentSlide(11)" alt="User Persona Rachel Anderson">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-thomas-lee-prev.png" style="width:100%" onclick="cbeCurrentSlide(12)" alt="User Persona Thomas Lee">
                    </div>
                    <div class="column">
                        <img class="cbe-demo cursor" src="/images/web-dev/process/cbe/user-persona-mary-gerrard-prev.png" style="width:100%" onclick="cbeCurrentSlide(13)" alt="User Persona Mary Gerrard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>