<div class='header-spacer'></div>  
<div class="bg-cbe"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-header-container'>
      <div class='process-header-content'>
        <h1 class='process-name'>CBE International</h1>
        <h2 class='process-name-sub'>Web UX/UI + Social Media</h2>
      </div>
   </div>  
<div class='process-body'>
    <div class='process-content'>
    <div class='process-overview'>
        <div class='process-overview-section'>
        <h4 class='po-role'>Role</h4>
        <p class='po-p'>UX/UI design, visual design, and research for a nonprofit organization</p>
        <h4 class='po-function'>Project Function</h4>
        <p class='po-p'>Full website and user experience revamp to convert static, resource site into engaging community-driven experience, while bringing synergistic philosophy to organization’s departments and break down individual department silos.</p>
        <h4 class='po-duration'>Duration</h4>
        <p class='po-p'>3 years</p>
          </div>
        <div class='process-overview-section'>
          <h4 class='po-skills'>Skills &amp; Tools</h4>
          <ul class='po-ul'>
            <li class='po-li'>
              Wireframing &amp; Visual Design
              <ul>
              <li>
              Adobe Photoshop
            </li>
            <li>
              Adobe Illustrator
            </li>
            <li>
              Axure
              </ul>
            </li>
            <li>
              User Research &amp; Testing
              <ul>
                <li>
                Personas
                  </li>
              <li>
                Maps, Journeys, Flows
              </ul> 
            </li>   
          </ul>
          </div>
           <div class='process-btn'>     
            <a href='http://www.cbeinternational.org' target='_blank'><div class='ux-btn'>Live Website</div></a>
        </div>
      </div>
        <p>
            CBE International is a faith-based egalitarian nonprofit organization, advocating for gender equality in the church, home, and greater world. 
            Along with an annual international conference, they release a quarterly magazine (<i>Mutuality</i>), a quarterly academic journal (<i>Priscilla Papers</i>), and an online blog (<i>Arise</i>). 
            They also operate a bookstore with important egalitarian resources, including self-published materials. 
        </p>
        <p>
            For the better part of its existence, the CBE website operated mostly as a database of important resources for members, with selected free resources for the public, presented as PDFs. 
            While constituents found value in what was offered, decades of resources were unavailable to both members and the public. 
            As a nonprofit organization, CBE is funded primarily by donations, so there was real value to be had having those resources available and accessible to potential donors to better understand CBE’s mission.
        </p>

        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-home-2013.png" data-lightbox="cbe-1" data-title="CBE International Home Page 2013">
                    <img src="/images/web-dev/process/cbe/cbe-home-2013-600x600-prev.png"></a>
                     <p class='cap'>CBE International Homepage in 2013 </p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-article-2013.png" data-lightbox="cbe-1" data-title="CBE International Article Page 2013">
                     <img src="/images/web-dev/process/cbe/cbe-article-2013-600x600-prev.png"></a>
                      <p class='cap'>CBE Article Page in 2013 </p>   
                </div>
            </div>
        </div>

        <p>
           My belief for a website is to always represent the spirit of the organization, company, or individual as best it can. When I was hired, I believed CBE’s site misrepresented the organization. 
           It brought too much attention on its asks for donations and had little focus on the organizations greater value—its content. 
           While donations are important in funding nonprofits, I believed highlighting the content would in turn lead to more donations, and build a stronger community.
 
        </p>

        <h3 class='process-head'>Initial Research</h3>
        <p>
            According to leadership, the desire of the website is to inform visitors, but also bring enough value to them so they support the mission and hopefully become donors and/or members. 
            We assessed website analytics and surveyed users in order to understand their website behaviors and user flows. 
            While we interviewed both CBE members and non-members, the consensus was pretty clear: users come to the site, find what they’re looking for (typically an article), and exit the site. Nothing is really keeping them around or drawing them back.  
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/subscribe-donate-user-flow.png" data-lightbox="cbe-2" data-title="User Flows for Subscriptions and Donations">
                    <img src="/images/web-dev/process/cbe/subscribe-donate-user-flow.png"></a>
                     <p class='cap'>User Flows for Subscriptions and Donations</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/2013-user-flow.png" data-lightbox="cbe-2" data-title="User Journey Map of Average Visitor">
                    <img src="/images/web-dev/process/cbe/2013-user-flow.png"></a>
                     <p class='cap'>User Journey Map of Average Visitor</p>
                </div>
            </div>
        </div>
        <h3 class='process-head'>The Problem</h3>
        <p>
            It was clear that the reason users weren’t giving much investment to CBE through the website, was because a return value wasn’t offered. 
            In its current state, the website existed more to indicate the organization's presence, with some key resources for those who were seeking them. 
            In order to build an experience that would help drive traffic and convert users into donors or members, there would have to be more content offered on the website itself(not just printed materials), and a better way to navigate through the content.
        </p>
        <h3 class='process-head'>Pain Points</h3>
        <ul>
            <li>
                A homepage that is unfortunately too distracting to be helpful
            </li>
            <li>
                Limited resources to satisfy visitors
            </li>
            <li>
                Unintuitive navigation
            </li>
            <li>
                Basic search function
            </li>
        </ul>

        <h3 class='process-head'>User Personas</h3>
        <p>
        I created user personas to represent three kinds of users: younger, progressive thinkers disenchanted by traditional views; older, more traditional thinkers recognizing issues with the status quo; and academics interested in theological dogma.
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/user-persona-rachel-anderson.png" data-lightbox="cbe-3" data-title="User Persona: Rachel Anderson">
                    <img src="/images/web-dev/process/cbe/user-rachel-anderson-prev.png"></a>
                     <p class='cap'>User Persona: Rachel Anderson</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/user-persona-thomas-lee.png" data-lightbox="cbe-3" data-title="User Persona: Thomas Lee">
                    <img src="/images/web-dev/process/cbe/user-thomas-lee-prev.png"></a>
                     <p class='cap'>User Persona: Thomas Lee</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/user-persona-mary-gerrard.png" data-lightbox="cbe-3" data-title="User Persona: Mary Gerrard">
                    <img src="/images/web-dev/process/cbe/user-mary-gerrard-prev.png"></a>
                     <p class='cap'>User Persona: Mary Gerrard</p>
                </div>
            </div>
        </div>
        <h3 class='process-head'>Sitemaps</h3>
        <p>
            From there we decided to clean up the sitemap and navigation, to help users navigate the site more intuitively. There were requests for some menu items to be included in the early iterations of the updates, to later be phased out when deemed unnecessary. 
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/sitemap-2013.png" data-lightbox="cbe-4" data-title="Sitemap: Before">
                    <img src="/images/web-dev/process/cbe/sitemap-2013-prev.png"></a>
                     <p class='cap'>Sitemap: Before</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/sitemap-2016.png" data-lightbox="cbe-4" data-title="Sitemap: After">
                    <img src="/images/web-dev/process/cbe/sitemap-2016-prev.png"></a>
                     <p class='cap'>Sitemap: After</p>
                </div>
            </div>
        </div>
        <p>
            With the pain points needing to be addressed, the major undertaking of the next step was creating digital versions of the vast CBE publication archives, which would be uploaded incrementally. 
            The overall process took several months of hard work, hand-typing content from printed materials that spanned all the way back to 1988.
        </p>
        <p>
            With more content, we improved turned focus onto the search function to include more advanced capabilities, including publication-type, author, and date.

        </p>
        <p>
            To bring more focus to the content, the homepage was redesigned to cater to both the blog and the newest quarterly publications.
            Naturally, the articles pages were designed to be much more user friendly (instead of PDFs), including publication information and author information. 
            For users who appreciate the PDF version, we included a link to download it.
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-home-2016.png" data-lightbox="cbe-5" data-title="CBE International Home Page 2016">
                    <img src="/images/web-dev/process/cbe/cbe-home-2016-600x600-prev.png"></a>
                     <p class='cap'>CBE International Homepage in 2016</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-article-2016.png" data-lightbox="cbe-5" data-title="CBE International Article Page 2016">
                     <img src="/images/web-dev/process/cbe/cbe-article-2016-600x600-prev.png"></a>
                      <p class='cap'>CBE Article Page in 2016</p>   
                </div>
            </div>
        </div>
        <h3 class='process-head'>Phase 2</h3>
        <p>
            For the following two years, the CBE website operated under a continuous, iterative design process, making minor improvements to the user interface to foster the experience as a content-focused resource site. 
            To also improve the user experience outside of the website proper, more efforts were put into social media platforms (namely, Facebook and Twitter) to increase traffic to the website, as well as improve community interaction. 
        </p>
        <p>
            Further research (user surveys and Google analytics analysis, primarily) indicated significant traffic was now coming from social media. 
            However, even with more content to share, visitors were still stuck in a loop of visiting the site for the article they were seeking, then exiting (although it certainly improved from before). 
            We found that the pain points of the new version of the reflected the old ones, only evolved. 
        </p>
        <p>
           The solution we decided would help keep traffic to stay on the website longer was recommended articles based on those visitors were reading. 
            While it didn’t guarantee significant increases of time spent on the website, it would bring awareness to visitors of the vast amount of content available to them, and help them see the value of supporting the organization. 
            Having users return to access content was arguably more important in building a relationship. 
        </p>
         <p>
            On top of the pain points, CBE was in the process of rebranding. 
            It was requested that I mock up a complete website “facelift,” making improvements to the user experience based on our research and implementing the branding update. 
        </p>
        <h4 class='process-subhead'>Homepage</h4>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-homepage-mock.png" data-lightbox="cbe-6" data-title="Homepage Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-homepage-mock-600x600-prev.png"></a>
                     <p class='cap'>Homepage Mock-Up</p>
                </div>
            </div>
        </div>
        <p>
            The intention in my redesign for the homepage, is to bring attention to the most important aspects of the organization, simplify navigation, and bring my clarity to all aspects of what is included.
            As mentioned, research has shown that highlighting content is the best way to engage users, so new and featured articles would be the most visible.
        </p>
         <p>
            In previous iterations of CBE’s website, it always required an extra click to explain the mission of the organization.
            Having that available in a clear and succinct manner on the homepage would be a great improvement to inform visitors (both new and returning) who CBE is and how they can help. 
        </p>
        <p>
           I designed the following sections on the homepage to bring attention to any campaigns, events, news, etc. that the organization would want to highlight, without requiring clicks to get to the information. 
           The sections would be customizable to include as many as desired. 
        </p>
        <p>
            The proposed sitemap would be much more streamlined and simple. With more content available on the homepage, it will ideally require fewer internal page sections.
            For the necessary pages, I combined the logical ones together, to make everything cleaner.   
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/sitemap-prop.png" data-lightbox="cbe-12" data-title="Proposed Sitemap">
                    <img src="/images/web-dev/process/cbe/sitemap-prop-600x600-prev.png"></a>
                     <p class='cap'>Proposed Sitemap</p>
                </div>
            </div>
        </div>
        <h4 class='process-subhead'>Article Pages</h4>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-article-mock.png" data-lightbox="cbe-7" data-title="Publication Article Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-article-mock-600x600-prev.png"></a>
                     <p class='cap'>Publication Article Mock-Up</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-blog-mock.png" data-lightbox="cbe-7" data-title="Blog Post Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-blog-mock-600x600-prev.png"></a>
                     <p class='cap'>Blog Post Mock-Up</p>
                </div>
            </div>
        </div>
        
        <p>
            There are three significant additions to the article pages (both from the blog and quarterly publications) that I felt would increase user engagement:
        </p>
        <ul>
            <li>
                A table of contents to the other articles in the issue (for publications) or a list of most recent blog posts 
            </li>
            <li>
                Ways to connect with the author (via social media, website, and/or email)
            </li>
            <li>
                A section for related articles, based on topics, keywords, or from the same author
            </li>
        </ul>
        <h4 class='process-subhead'>Publication Pages</h4>
        <div id="photos">    
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-mag-contents-mock.png" data-lightbox="cbe-8" data-title="Mutuality Contents Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-mag-contents-mock-600x600-prev.png"></a>
                     <p class='cap'>Mutuality Contents Mock-Up </p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-journal-contents-mock.png" data-lightbox="cbe-8" data-title="Priscilla Papers Contents Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-journal-contents-mock-600x600-prev.png"></a>
                     <p class='cap'>Priscilla Papers Contents Mock-Up</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-contents-year-mock.png" data-lightbox="cbe-8" data-title="Year Contents Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-contents-year-mock-600x600-prev.png"></a>
                     <p class='cap'>Year Contents Mock-Up </p>
                </div>
            </div>
        </div>
        <p>
            Now, with the access to the vast CBE archives, users still don’t have a great way to navigate them.
            I designed additional pages to overview the contents within each issue (along with cover, theme, and article teases), as well as cross sections of the publications that were released in the year. 
            This would give users a clearer visualization of the archives, making it incredibly easy to navigate them.
        </p>
        <h4 class='process-subhead'>Events Pages</h4>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-event-page-mock.png" data-lightbox="cbe-9" data-title="Events Page Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-event-page-mock-600x600-prev.png"></a>
                     <p class='cap'>Events Page Mock-Up</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-events-calendar-mock.png" data-lightbox="cbe-9" data-title="Events Calendar Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-events-calendar-mock-600x600-prev.png"></a>
                     <p class='cap'>Events Calendar Mock-Up</p>
                </div>
            </div>
        </div>
        <p>
            A major desire among constituents is connecting with the community, and while that can be done during the annual conferences, not everyone has the means to attend those.
            Through local chapters, smaller events are held, but little is done to bring attention to them.
            I created designs for a calendar view of upcoming events that website users can clearly access and see, as well as events pages that include all details and a registration form.
            This would hopefully increase awareness and success of those smaller events so that user experience isn’t limited to the virtual, but a more holistic opportunity.
        </p>
        <h4 class='process-subhead'>Search</h4>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-search-mock.png" data-lightbox="cbe-10" data-title="Search Results Mock-Up">
                    <img src="/images/web-dev/process/cbe/cbe-search-mock-600x600-prev.png"></a>
                     <p class='cap'>Search Results Mock-Up</p>
                </div>
            </div>
        </div>
        <p>
            The advanced search function is designed to have a more elegant and robust results. 
            This gives users a quick access to the details of their searches (e.g. resource type, author, date) in the search itself. 
            Another feature would be improved search results navigation, which would be helpful when results reach several pages in length.
        </p>

        <h3 class='process-head'>Reflection</h3>
        <p>
            CBE had gone through some significant evolutions over the 3+ years I worked with them. 
            I found a lot of fulfillment contributing my skills and knowledge to progressively improve the experience of the website and social media. 
            With my help, yearly website traffic increased over 110%, visitors also returned at an increased rate, and the both Facebook and Twitter saw significant increases in interactions.
        </p>
        <p>
           Although I was unable to see the entire project through before leaving the organization, I was assured that the goals and design choices would continue in the same trajectory I had help put in place.  
        </p>
        <div id="photos">
            <div id="photo-gallery">
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-home-2018.png" data-lightbox="cbe-11" data-title="Homepage in 2018">
                    <img src="/images/web-dev/process/cbe/cbe-home-2018-600x600-prev.png"></a>
                     <p class='cap'>Homepage in 2018</p>
                </div>
                <div class='process-image'>
                    <a href="/images/web-dev/process/cbe/cbe-article-2018.png" data-lightbox="cbe-11" data-title="Article Page in 2018">
                    <img src="/images/web-dev/process/cbe/cbe-article-2018-600x600-prev.png"></a>
                     <p class='cap'>Article Page in 2018</p>
                </div>
            </div>
        </div>
    </div>
    <div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'>
                <h2>let&#146;s connect</h2>
            </a>
            <div class='contact-wrap'>
                <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                    <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
                </a>
                <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="tel:608-790-7675">
                    <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
                </a>
                <p class='contact-text'>(608) 790-7675</a>
                </p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                    <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
                </a>
            </div>
        </div>

    </div>
</div>