<div class='header-spacer'></div>
<div class="bg-cd"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-header-container'>
    <div class='process-header-content'>
        <h1 class='process-name'>Cheat Day<br>Accountability App</h1>
        <h2 class='process-name-sub'>UX/UI</h2>
    </div>
</div>
<div class='process-body'>
    <div class='process-content'>
        <h2 class='editing'>This page is currently being edited to provide a more thorough process. </h2>
        <div class='process-overview'>
            <div class='process-overview-section'>
                <h4 class='po-role'>Role</h4>
                <p class='po-p'>UX/UI design and visual design for an accountability app for personal vices</p>
                <h4 class='po-function'>Project Function</h4>
                 <p class='po-p'>Develop an accountability mobile app primarily for active people looking for a simple, quick way to keep track of meals that they designate as healthy or unhealthy—without micromanaging the details.</p>
                <h4 class='po-duration'>Duration</h4>
                <p class='po-p'>Ongoing</p>
            </div>
            <div class='process-overview-section'>
                <h4 class='po-skills'>Skills &amp; Tools</h4>
                <ul class='po-ul'>
                    <li class='po-li'>
                        Wireframing &amp; Visual Design
                        <ul>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                        </ul>
                    <li>Research</li>
            </div>
            {{!-- <div class='process-btn'>
                <a href='http://werdzahn.herokuapp.com' target='_blank'>
                    <div class='ux-btn-w-note'>Live Prototype</div>
                </a>
                <p class='ux-btn-note'>of Version 1</p>
            </div> --}}
        </div>
        <h3 class='process-head'>Project Overview</h3>
        <p>
            Cheat Day is an app that serves as a simple way to be accountable for vices. 
            For certain active people, meal tracking and calorie counting micromanage too much, when sometimes just being aware of eating behaviors is enough. 
            Many people give themselves "cheat days" to eat unhealthy meals but generally have a healthy lifestyle. 
            This app would simply track and be a reminder to keep the healthy lifestyle. 
        </p>
        <p>
            While eating habits being the primary vice for the app, there would also be ways to add other vices (e.g. cigarettes, alcohol) to keep track of, as well.
        </p>
        <div class='ui-examples'>
            <div class='mobile-app'>
                <h3>Mobile App</h3>
                <div id="photos">
                    <div id="photo-gallery">
                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-getstarted.png" data-lightbox="cd-1"
                                data-title="Login Screen">

                                <img src="/images/web-dev/process/cd/cheatday-getstarted.png"> </a>

                            <p class='cap'>Login/Signup Screen</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-dashboard.png" data-lightbox="cd-1"
                                data-title="Dashboard Screen">

                                <img src="/images/web-dev/process/cd/cheatday-dashboard.png"></a>

                            <p class='cap'>Dashboard Screen</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-history-calendar.png" data-lightbox="cd-1"
                                data-title="History - Calendar Screen">

                                <img src="/images/web-dev/process/cd/cheatday-history-calendar.png"></a>
                            <p class='cap'>History - Calendar Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-history-list.png" data-lightbox="cd-1"
                                data-title="History - Calendar Screen">

                                <img src="/images/web-dev/process/cd/cheatday-history-list.png"></a>
                            <p class='cap'>History - List Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-profile.png" data-lightbox="cd-1"
                                data-title="Profile Screen">

                                <img src="/images/web-dev/process/cd/cheatday-profile.png"></a>
                            <p class='cap'>Profile Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/cd/cheatday-settings.png" data-lightbox="cd-1"
                                data-title="Settings Screen">

                                <img src="/images/web-dev/process/cd/cheatday-settings.png"></a>
                            <p class='cap'>Settings Screen</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id='contact-container'>
    <div class='contact'>
        <a name='contact-anchor'>
            <h2>let&#146;s connect</h2>
        </a>
        <div class='contact-wrap'>
            <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
            </a>
            <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="tel:608-790-7675">
                <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
            </a>
            <p class='contact-text'>(608) 790-7675</a>
            </p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
            </a>
        </div>
    </div>

</div>
</div>