<header id="top-anchor">
<div class="bg"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>

<div class='content'>
    <div id='home-container'>
      <div class='home-content'>
            <h1 class='name'>Jacob Kim Johnson</h1>
            <h3 class='name-sub'>Human –
  <span
     class="txt-rotate"
     data-period="5000"
     data-rotate='[ "Computer", "Human"]'></span> Interaction</h3>
          
          <nav>
    <ul>
        <a class="smoothScroll" href='#about-anchor'><li>about</li></a>
        <a class="smoothScroll" href='#resume-anchor'><li>resume</li></a>
        <a class="smoothScroll" href='#portfolio-anchor'><li>portfolio</li></a>
        <a class="smoothScroll" href='#contact-anchor'><li>contact</li></a>
    </ul>
</nav>
      </div>
   </div>  
      <div id='about-container'>
        <div class='about'>
          <a name='about-anchor'class='about-anchor1'></a>
          <h2>a little about me</h2>
            <div class='bio'>
                <div class='head-overview'>
                    <img class='headshot' src='/images/headshot.png' alt='Jacob picture'>
                    <p class='bio-overview'>
                        I’m a UX/UI designer, graphic designer, and programmer with experience in industries including start-ups, nonprofits, and tech(SaaS), which has given me the distinct ability to examine situations and consider strategies from different perspectives.
                        I have a deep passion for crafting elegant and engaging interfaces and designs, and my creativity, empathy, critical thinking, and collaborative nature have been beneficial in helping me understand user behaviors and motivations, as well as make thoughtful decisions. 
                        Those insights have allowed me be more open-minded as I figure out the details, while focusing on the big picture.
                    </p>
                </div>
            <h3 class='wts-title'>wait... why &#8220;words to song&#8221;?</h3>
                <p>  
                    This may come as a surprise, but my name isn’t particularly unique. 
                    I felt it necessary to come up with an internet handle to distinguish myself a bit
                    and happened upon a song titled “Jacob” that included those lyrics, which resonated with me.
                    To me, it’s poetic by holding a couple meanings: 
                    being in the process of creating (the words to a song), as well as the transition from process to completion of something created (having words and creating a song out of them).
                    What can I say? I enjoy layered meanings.
                    </p>
            <h3 class='act-title'>what i&#146;m likely doing when i&#146;m not designing</h3>
            <div class='freetime-activities'>   
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/headphones.svg' alt='headphones icon'>
                    <h3 class='act-name'>Podcast Binging</h3>
                    <h3 class='act-name'>Music Exploring</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/film.svg' alt='film icon'>
                    <h3 class='act-name'>Film Indulging &amp; Discussing</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/workout.svg' alt='workout icon'>
                    <h3 class='act-name'>Dog Jogging</h3>
                    <h3 class='act-name'>Moderately-Heavy-Things Lifting</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/guitar.svg' alt='guitar icon'>
                    <h3 class='act-name'>Guitar Strumming</h3>
                    <h3 class='act-name'>Karaoke Partaking</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/book.svg' alt='book icon'>
                    <h3 class='act-name'>Book Diving</h3>
                    <h3 class='act-name'>Board Games (Not Named Monopoly) Experiencing</h3>
                </div>
            </div>     
            </div>
          </div>
        </div>
        {{!-- <a name='resume-anchor'></a> --}}
    </div>    
    <div id='resume-container'>
        <div class='resume'>
            <a name='resume-anchor'class='resume-anchor1'></a>
            <h2>experience &amp; knowledge: got ‘em</h2>
            <div data-aos="fade-right">
                <h3>Four years of UX/UI Design experience</h3>
            </div>
            <div data-aos="fade-left">
                <h3>Over five years of Graphic Design experience</h3>
            </div>
            <div data-aos="fade-up">
                <h3>Quantitative results to ensure confidence in my thoughtful decision-making</h3>
            </div>
            <div data-aos="fade-up">      
                <h3>Along with design and web dev, I have a background in and experience with:</h3>
            </div>   
            <div data-aos="fade-up-right">  
                    <p class='background'>Psychology</p>
            </div>
            <div data-aos="fade-up-left">
                    <p class='background'>Marketing</p>
            </div>
            <div data-aos="fade-up-right">
                    <p class='background'>Communications</p>
            </div>
            <div data-aos="fade-up-left">
                    <p class='background'>Management</p>
            </div>
            <div data-aos="fade-up">
                    <p class='background'>Research &amp; Analytics</p>
            </div>
            <div data-aos="fade-up">
                <div class='skills'>
                    <h3 class='skills-title'>skills</h3>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>design / ux / ui</h3>
                        <h4 class='skills-subhead'>Photoshop</h4>
                        <p class='skills-details'>Graphic Creating</p>
                        <p class='skills-details'>Illustration</p>
                        <h4 class='skills-subhead'>Illustrator</h4>
                        <p class='skills-details'>Vector Creating</p>
                        <p class='skills-details'>Graphic Creating</p>
                        <p class='skills-details'>Web Mockups</p>
                        <p class='skills-details'>Wireframing</p>
                        <h4 class='skills-subhead'>InDesign</h4>
                        <p class='skills-details'>Book/Journal Layout</p>
                        <p class='skills-details'>Printed Marketing</p>
                        <h4 class='skills-subhead'>Axure/Sketch/InVision</h4>
                        <p class='skills-details'>Web Mockups</p>
                        <p class='skills-details'>Wireframing</p>
                        <p class='skills-details'>Prototyping</p>
                    </div>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>web development</h3>
                        <h4 class='skills-subhead'>HTML</h4>
                        <h4 class='skills-subhead'>CSS</h4>
                        <p class='skills-details'>Responsive Design</p>
                        <h4 class='skills-subhead'>JavaScript</h4>
                        <p class='skills-details'>JQuery</p>
                        <p class='skills-details'>Node.js</p>
                        <h4 class='skills-subhead'>Git</h4>
                        <p class='skills-details'>GitHub</p>
                        
                    </div>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>web content</h3>
                        <h4 class='skills-subhead'>CMS</h4>
                        <p class='skills-details'>WordPress</p>
                        <p class='skills-details'>Drupal</p>
                        <h4 class='skills-subhead'>Email</h4>
                        <p class='skills-details'>MailChimp</p>
                        <p class='skills-details'>Constant Contact</p>
                        <h4 class='skills-subhead'>Google Analytics</h4>
                    </div>
                    <div class='skills-cat'id='last'>
                        <h3 class='skills-head'>Other</h3>
                        <h4 class='skills-subhead'>Photography</h4>
                        <h4 class='skills-subhead'>Video Recording</h4>
                        <p class='skills-details'>Premier Pro</p>
                        <p class='skills-details'>YouTube</p>
                        <h4 class='skills-subhead'>Audio Recording</h4>
                        <p class='skills-details'>Audition</p>
                        <p class='skills-details'>Audacity</p>
                        <p class='skills-details'>SoundCloud</p>
                        <h4 class='skills-subhead'>Social Media</h4>
                        <p class='skills-details'>Facebook</p>
                        <p class='skills-details'>Twitter</p>
                        <p class='skills-details'>Instagram</p>
                        <p class='skills-details'>Disqus</p>
                        <p class='skills-details'>Tumblr</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in">    
                <div class='linkedpdf'>
                    <a href='https://www.linkedin.com/in/jacobkimjohnson' target='_blank'><div class='resume-btn'>LinkedIn Profile</div></a>
                
                    <a href='/images/resume.pdf' target='_blank'><div class= 'resume-btn'>Resume PDF</div></a>
                </div>
            </div>
        </div>    
    </div>
    <div id='portfolio-container'>
        <div class='portfolio'>
            <a name ='portfolio-anchor' class='portfolio-anchor1'></a>
            <h2>here&#146;s a little proof</h2>
                <p class='port-sub'>Click on any of the following categories for examples of work</p>
                <div class="port-menu">
                    <div class='type-title'>
                    <a class="type-menu toggle" href="javascript:void(0);">UX / UI / Web Dev</a>
                        <div class="inner examples-menu">
                            <div class='examples'>
                                <div class="dev-port">
                                     <p class='overview'>I have designed these websites from scratch which are in concept stages of development, so they contain either limited or dummy content (excluding my portfolio site). 
                                                        The exception is CBE International, which only demonstrates my UX/UI process of the website. </p>
                                 <div class='site-list'>
                                    <div class='cbe-container'>
                                    <a href="/cbe-process" target='_blank'><img class='web-image' src='/images/web-dev/cbe-image.png' alt='CBE logo image'></a>
                                    <p class='cap'>CBE International is a nonprofit organization where I worked as its designer <br /><a href='cbe-process' target='_blank'>The Process</a></p>
                                    </div>
                                <div class='words-to-song-container'>
                                    <a href="http://www.wordstosong.me" target='_blank'><img class='web-image' src='/images/web-dev/wts-logo-update.png' alt='Words to song logo image'></a>
                                    <p class='cap'><i>Words to Song</i> is the portfolio site that you are currently exploring!<br /> <a href='wts-process' target='_blank'>The Process</a></p>
                                </div>
                                <div class='speak-louder-container'>
                                    <a href="http://www.speak-louder.com" target='_blank'><img class='web-image' src='/images/web-dev/sl-image.png' alt='Speak Louder! logo image'></a>
                                    <p class='cap'><i>Speak Louder!</i> is a webcomic concept and template with responsive design.<br /> <a href='sl-process' target='_blank'>The Process</a></p>
                                </div>
                                {{!-- <div class='toons-for-days-container'>
                                    <a href="http://toonsfordays.herokuapp.com" target='_blank'><img class='web-image' src='/images/web-dev/tfd-image.png' alt='Toons for Days logo image'></a>
                                    <p class='cap'><i>Toons for Days</i> is a place for cartoonists to post single-panel comics.</p>
                                </div> --}}
                                <div class='werdzahn-container'>
                                    <a href="http://werdzahn.herokuapp.com" target='_blank'><img class='web-image' src='/images/web-dev/werdzahn-image.png' alt='werdzahn logo image'></a>
                                    <p class='cap'><i>Werdzahn</i> is an entertainment and culture blog concept.<br /> <a href='werdzahn-process' target='_blank'>The Process</a></p>
                                </div>
                            </div>
                        </div>
      </div>
    </div>  
  </div>
  <div class='type-title'>
    <a class="type-menu toggle" href="javascript:void(0);">Graphic Design</a>
    <div class="inner examples-menu">
      <div class='examples'>
          <div class='des-port'>
            <p class='overview'>These designs are primarily examples of work I have done on professional projects. I have sprinkled in some designs for personal projects I have been working on, as well.</p>
                                <div class='logo-designs'>
                                    <h3 class='des-subhead'>logo designs</h3>
                                    <p class='sub-overview'>Working as the graphic designer and web content coordinator for CBE International, 
                                        I assisted with the rebranding process and created concepts for both the main logo and the organization’s blog, <i>Arise.</i></p>
                                    <div class='logo-list'>
                                    <div class="row">
                                        <div class="column">
                                            <img src="/images/graph-des/logos/cbe-logo1-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(1)" class="hover-shadow cursor">
                                            <p class='cap'>Final concept of CBE International logo redesign</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/cbe-logo2-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(2)" class="hover-shadow cursor">
                                            <p class='cap'>Early concept of CBE International logo redesign</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/cbe-logo3-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(3)" class="hover-shadow cursor">
                                            <p class='cap'>Additional CBE International logo concept ideas</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/arise-logo1-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(4)" class="hover-shadow cursor">
                                            <p class='cap'><i>Arise</i> blog concepts utilizing whitespace</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/arise-logo2-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(5)" class="hover-shadow cursor">
                                            <p class='cap'><i>Arise</i> blog concepts to convey its &#8220;broadcasting&#8221; nature</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/arise-logo3-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(6)" class="hover-shadow cursor">
                                            <p class='cap'>More minimalist <i>Arise</i> blog concepts</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/sl-logo-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(7)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for my webcomic concept, <i>Speak Louder!</i></p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/werdzahn-logo.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(8)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for my blog concept, <i>Werdzahn</i></p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/wts-logo-update.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(9)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for my porfolio site</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/dofp-logo-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(10)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for podcast concept</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/tbr-update-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(11)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for To Be Rebooted podcast</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/logos/tfd-logo-prev.png" style="width:100%" onclick="openLogoModal();logoCurrentSlide(12)" class="hover-shadow cursor">
                                            <p class='cap'>Logo for Toons for Days website</p>
                                        </div>
                                    </div>

                                    <div id="myLogoModal" class="modal">
                                        <span class="close cursor" onclick="closeLogoModal()">&times;</span>
                                        <div class="modal-content">

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/cbe-logo1.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/cbe-logo2.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/cbe-logo3.png" style="width:100%">
                                            </div>
                                            
                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/arise-logo1.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/arise-logo2.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/arise-logo3.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/sl-logo.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/werdzahn-logo.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/wts-logo-update.png" style="width:100%">
                                            </div>

                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/dofp-logo.png" style="width:100%">
                                            </div>
                                            <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/tbr-update.png" style="width:100%">
                                            </div>
                                             <div class="myLogoSlides">
                                                <img src="/images/graph-des/logos/tfd-logo.png" style="width:100%">
                                            </div>
                                            
                                            <a class="prev" onclick="logoPlusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="logoPlusSlides(1)">&#10095;</a>

                                            <div class="caption-container">
                                                <p id="logo-caption"></p>
                                            </div>


                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/cbe-logo1-prev.png" style="width:100%" onclick="logoCurrentSlide(1)" alt="CBE International fish concept">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/cbe-logo2-prev.png" style="width:100%" onclick="logoCurrentSlide(2)" alt="CBE International globe-cross concept">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/cbe-logo3-prev.png" style="width:100%" onclick="logoCurrentSlide(3)" alt="CBE International additional concepts">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/arise-logo1-prev.png" style="width:100%" onclick="logoCurrentSlide(4)" alt="Arise blog whitespace concepts">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/arise-logo2-prev.png" style="width:100%" onclick="logoCurrentSlide(5)" alt="Arise blog broadcast concepts">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/arise-logo3-prev.png" style="width:100%" onclick="logoCurrentSlide(6)" alt="Arise blog minimalist concepts">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/sl-logo-prev.png" style="width:100%" onclick="logoCurrentSlide(7)" alt="Speak Louder webcomic logo">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/werdzahn-logo.png" style="width:100%" onclick="logoCurrentSlide(8)" alt="Werdzahn blog logo">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/wts-logo-update.png" style="width:100%" onclick="logoCurrentSlide(9)" alt="Portfolio site logo">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/dofp-logo-prev.png" style="width:100%" onclick="logoCurrentSlide(10)" alt="Days of Feature Past podcast logo">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/tbr-update-prev.png" style="width:100%" onclick="logoCurrentSlide(11)" alt="To Be Rebooted podcast logo">
                                            </div>
                                            <div class="column">
                                                <img class="logo-demo cursor" src="/images/graph-des/logos/tfd-logo-prev.png" style="width:100%" onclick="logoCurrentSlide(12)" alt="Toons for Days website logo">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class='digital-designs'>
                                    <h3 class='des-subhead'>digital designs</h3>
                                    <p class='sub-overview'> The following designs are mostly examples of content created for web pages, emails and social media posts.</p>
                                    <div class='digital-list'>
                                    <div class="row">
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-30-prev-alt.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(1)" class="hover-shadow cursor">
                                            <p class='cap'>Social media graphic as a lead-up to the 2015 annual conference</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-con-quote-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(2)" class="hover-shadow cursor">
                                            <p class='cap'>Social media graphic highlighting the conference theme</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-fl-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(3)" class="hover-shadow cursor">
                                            <p class='cap'>Promo for 2017 conference and homage to the &#8220;greetings from&#8221; postcards</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-founder-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(4)" class="hover-shadow cursor">
                                            <p class='cap'>Graphic honoring the life of CBE founder, Alvera Mickelsen</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-gtmd-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(5)" class="hover-shadow cursor">
                                            <p class='cap'>Social media graphic for Minnesota's &#8220;Give to the Max Day&#8221;</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-sale-prev-alt.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(6)" class="hover-shadow cursor">
                                            <p class='cap'>Black History Month book sale advertisement</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-twit-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(7)" class="hover-shadow cursor">
                                            <p class='cap'>Social media graphic highlighting quote from blog article</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/newsletter-pie-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(8)" class="hover-shadow cursor">
                                            <p class='cap'>Email graphic for monthly newsletter</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/cbe-finland-ad-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(9)" class="hover-shadow cursor">
                                            <p class='cap'>&#8220;Save the Date&#8221; ad for 2018 conference in Finland</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/digital/infographic-icons-prev.png" style="width:100%" onclick="openDigitalModal();digitalCurrentSlide(10)" class="hover-shadow cursor">
                                            <p class='cap'>Icon designs for CATS Software infographics</p>
                                        </div>
                                    </div>

                                    <div id="myDigitalModal" class="modal">
                                        <span class="close cursor" onclick="closeDigitalModal()">&times;</span>
                                        <div class="modal-content">

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-30.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-con-quote.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-fl.png" style="width:100%">
                                            </div>
                                            
                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-founder.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-gtmd.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-sale.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-twit.png" style="width:100%">
                                            </div>

                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/newsletter-pie.png" style="width:100%">
                                            </div>
                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/cbe-finland-ad.png" style="width:100%">
                                            </div>
                                            <div class="myDigitalSlides">
                                                <img src="/images/graph-des/digital/infographic-icons.png" style="width:100%">
                                            </div>
    
                                            
                                            <a class="prev" onclick="digitalPlusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="digitalPlusSlides(1)">&#10095;</a>

                                            <div class="caption-container">
                                                <p id="digital-caption"></p>
                                            </div>


                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-30-prev-alt.png" style="width:100%" onclick="digitalCurrentSlide(1)" alt="2015 conference graphic">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-con-quote-prev.png" style="width:100%" onclick="digitalCurrentSlide(2)" alt="2015 conference theme graphic">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-fl-prev.png" style="width:100%" onclick="digitalCurrentSlide(3)" alt="2017 conference announcement">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-founder-prev.png" style="width:100%" onclick="digitalCurrentSlide(4)" alt="In memory of CBE founder">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-gtmd-prev.png" style="width:100%" onclick="digitalCurrentSlide(5)" alt="Give to the Max Day graphic">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-sale-prev-alt.png" style="width:100%" onclick="digitalCurrentSlide(6)" alt="Black History Month sale advertisement">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-twit-prev.png" style="width:100%" onclick="digitalCurrentSlide(7)" alt="Blog quote graphic">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/newsletter-pie-prev.png" style="width:100%" onclick="digitalCurrentSlide(8)" alt="Newsletter graphic">
                                            </div> 
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/cbe-finland-ad-prev.png" style="width:100%" onclick="digitalCurrentSlide(9)" alt="Finland conference Save the Date ad">
                                            </div>
                                            <div class="column">
                                                <img class="digital-demo cursor" src="/images/graph-des/digital/infographic-icons-prev.png" style="width:100%" onclick="digitalCurrentSlide(10)" alt="CATS Software infographic icons">
                                            </div>                                             
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class='print-designs'>
                                    <h3 class='des-subhead'>print designs</h3>
                                    <p class='sub-overview'>Much of my experience with print design comes from creating marketing collateral (including posters, ads, and brochures).
                                        I have also had extensive experience with book and journal layouts, as well.
                                    </p>
                                    <div class='print-list'>
                                    <div class="row">
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-book-cover-spread-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(1)" class="hover-shadow cursor">
                                            <p class='cap'>Select covers and spread from translations of the CBE book <i>Still Side by Side</i></p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-con-booklet-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(2)" class="hover-shadow cursor">
                                            <p class='cap'>Cover and spread of 2015 CBE conference work book</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-con-full-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(3)" class="hover-shadow cursor">
                                            <p class='cap'>Promotional poster for 2017 CBE conference</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-con-spread-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(4)" class="hover-shadow cursor">
                                            <p class='cap'>Magazine spread for 2017 CBE conference and speakers</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-orlando-brochure-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(5)" class="hover-shadow cursor">
                                            <p class='cap'>Brochure for 2017 CBE conference</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-dvd-ad-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(6)" class="hover-shadow cursor">
                                            <p class='cap'>Full-page magazine ad for CBE DVD series</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/cbe-xmas-sale-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(7)" class="hover-shadow cursor">
                                            <p class='cap'>CBE Christmas sale flyer</p>
                                        </div>
                                        {{!-- <div class="column">
                                            <img src="/images/graph-des/print/glaser-spread-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(7)" class="hover-shadow cursor">
                                            <p class='cap'>Magazine spread project of Milton Glaser</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/luther-rockapella-poster-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(8)" class="hover-shadow cursor">
                                            <p class='cap'>Rockapella promotional poster for Luther College</p>
                                        </div> --}}
                                        <div class="column">
                                            <img src="/images/graph-des/print/ollymoss-poster-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(8)" class="hover-shadow cursor">
                                            <p class='cap'>Poster for artist Olly Moss event</p>
                                        </div>
                                        <div class="column">
                                            <img src="/images/graph-des/print/mbd-cover-prev.png" style="width:100%" onclick="openPrintModal();printCurrentSlide(9)" class="hover-shadow cursor">
                                            <p class='cap'>Book cover concept for CBE</p>
                                        </div>
                                    </div>

                                    <div id="myPrintModal" class="modal">
                                        <span class="close cursor" onclick="closePrintModal()">&times;</span>
                                        <div class="modal-content">

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-book-cover-spread.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-con-booklet.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-con-full.png" style="width:100%">
                                            </div>
                                            
                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-con-spread.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-orlando-brochure.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-dvd-ad.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/cbe-xmas-sale.png" style="width:100%">
                                            </div>

                                            {{!-- <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/glaser-spread.png" style="width:100%">
                                            </div>

                                             <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/luther-rockapella-poster.png" style="width:100%">
                                            </div> --}}

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/ollymoss-poster.png" style="width:100%">
                                            </div>

                                            <div class="myPrintSlides">
                                                <img src="/images/graph-des/print/mbd-cover.png" style="width:100%">
                                            </div>
    
                                            
                                            <a class="prev" onclick="printPlusSlides(-1)">&#10094;</a>
                                            <a class="next" onclick="printPlusSlides(1)">&#10095;</a>

                                            <div class="caption-container">
                                                <p id="print-caption"></p>
                                            </div>


                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-book-cover-spread-prev.png" style="width:100%" onclick="printCurrentSlide(1)" alt="CBE book covers and spread">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-con-booklet-prev.png" style="width:100%" onclick="printCurrentSlide(2)" alt="2015 CBE conference work book cover and spread">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-con-full-prev.png" style="width:100%" onclick="printCurrentSlide(3)" alt="2017 CBE conference poster">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-con-spread-prev.png" style="width:100%" onclick="printCurrentSlide(4)" alt="2017 CBE conference magazine spread">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-orlando-brochure-prev.png" style="width:100%" onclick="printCurrentSlide(5)" alt="2017 CBE conference brochure">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-dvd-ad-prev.png" style="width:100%" onclick="printCurrentSlide(6)" alt="CBE DVD series advertisement">
                                            </div>
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/cbe-xmas-sale-prev.png" style="width:100%" onclick="printCurrentSlide(7)" alt="CBE Christmas sale">
                                            </div>
                                            {{!-- <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/glaser-spread-prev.png" style="width:100%" onclick="printCurrentSlide(7)" alt="Milton Glaser magazine spread">
                                            </div>
                                             <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/luther-rockapella-poster-prev.png" style="width:100%" onclick="printCurrentSlide(8)" alt="Luther College Rockapella poster">
                                            </div> --}}
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/ollymoss-poster-prev.png" style="width:100%" onclick="printCurrentSlide(8)" alt="Olly Moss poster">
                                            </div> 
                                            <div class="column">
                                                <img class="print-demo cursor" src="/images/graph-des/print/mbd-cover-prev.png" style="width:100%" onclick="printCurrentSlide(9)" alt="CBE book cover concept">
                                            </div>                                                 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
      </div>
    </div>  
  </div>
  <div class='type-title'>
    <a class="type-menu toggle" href="javascript:void(0);">Illustrations</a>
    <div class="inner examples-menu">
      <div class='examples'>
          <div class='ill-port'>
                            <p class='overview'>Drawing is a passion of mine, and I am continually trying to improve my craft while exploring different styles using graphic tools.
                                 It also serves as a driving force in expanding my skills in graphic design and web development. </p>
                                <div class='ill-list'>
                                <div class="row">
                                    <div class="column">
                                        <img src="/images/ill/game-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(1)" class="hover-shadow cursor">
                                        <p class='cap'>Playing the board game Cranium</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/last-resistance-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(2)" class="hover-shadow cursor">
                                        <p class='cap'>"The Last Resistance" -- playing the tabletop game The Resistance</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/sufjan-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(3)" class="hover-shadow cursor">
                                        <p class='cap'>Sufjan Stevens</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/bb-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(4)" class="hover-shadow cursor">
                                        <p class='cap'>Breaking Bad</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/cats-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(5)" class="hover-shadow cursor">
                                        <p class='cap'>Cartoon that accompanied blog post for CATS Software</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/cats-two-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(6)" class="hover-shadow cursor">
                                        <p class='cap'>Another cartoon that accompanied blog post for CATS Software</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/scrabble-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(7)" class="hover-shadow cursor">
                                        <p class='cap'>"Happenstance"</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/iver-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(8)" class="hover-shadow cursor">
                                        <p class='cap'>Justin Vernon of Bon Iver</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/coldplay-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(9)" class="hover-shadow cursor">
                                        <p class='cap'>Chris Martin of Coldplay</p>
                                    </div>
                                    <div class="column">
                                        <img src="/images/ill/simon-garfunk-prev.png" style="width:100%" onclick="openIllModal();illCurrentSlide(10)" class="hover-shadow cursor">
                                        <p class='cap'>Simon and Garfunkel</p>
                                    </div>
                                </div>

                                <div id="myIllModal" class="modal">
                                    <span class="close cursor" onclick="closeIllModal()">&times;</span>
                                    <div class="modal-content">

                                        <div class="myIllSlides">
                                            <img src="/images/ill/game.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/last-resistance.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/sufjan.png" style="width:100%">
                                        </div>
                                        
                                        <div class="myIllSlides">
                                            <img src="/images/ill/bb.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/cats.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/cats-two.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/scrabble.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/iver.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/coldplay.png" style="width:100%">
                                        </div>

                                        <div class="myIllSlides">
                                            <img src="/images/ill/simon-garfunk.png" style="width:100%">
                                        </div>

                                        
                                        <a class="prev" onclick="illPlusSlides(-1)">&#10094;</a>
                                        <a class="next" onclick="illPlusSlides(1)">&#10095;</a>

                                        <div class="caption-container">
                                            <p id="ill-caption"></p>
                                        </div>


                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/game-prev.png" style="width:100%" onclick="illCurrentSlide(1)" alt="Cranium board game">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/last-resistance-prev.png" style="width:100%" onclick="illCurrentSlide(2)" alt="The Last Resistance">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/sufjan-prev.png" style="width:100%" onclick="illCurrentSlide(3)" alt="Sufjan Stevens">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/bb-prev.png" style="width:100%" onclick="illCurrentSlide(4)" alt="Breaking Bad">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/cats-prev.png" style="width:100%" onclick="illCurrentSlide(5)" alt="CATS Software comic">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/cats-two-prev.png" style="width:100%" onclick="illCurrentSlide(6)" alt="Another CATS Software comic">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/scrabble-prev.png" style="width:100%" onclick="illCurrentSlide(7)" alt="Happenstance">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/iver-prev.png" style="width:100%" onclick="illCurrentSlide(8)" alt="Justin Vernon of Bon Iver">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/coldplay-prev.png" style="width:100%" onclick="illCurrentSlide(9)" alt="Chris Martin of Coldplay">
                                        </div>
                                        <div class="column">
                                            <img class="ill-demo cursor" src="/images/ill/simon-garfunk-prev.png" style="width:100%" onclick="illCurrentSlide(10)" alt="Simon and Garfunkel">
                                        </div>                                               
                                    </div>
                                </div>
                                </div>
                        </div>
      </div>
</div>
  </div>
</div>    
        </div>
    </div>
    <div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'><h2>let&#146;s connect</h2></a>
            <p class='contact-text'>Email: <a class='contact-link' href='mailto:jacob.kim.johnson@gmail.com'>jacob.kim.johnson@gmail.com</a></p>
            <p class='contact-text'>Phone: <a class='contact-link' href='tel:608-790-7675'>(608) 790-7675</a></p>
        </div>
    </div> 