<div class="bg"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>

<div class='content'>
    <div id='home-container'>
      <div class='home-content'>
            <h1 class='name'>Jacob Kim Johnson</h1>
            <h3 class='name-sub'>Human –
  <span
     class="txt-rotate"
     data-period="5000"
     data-rotate='[ "Computer", "Human"]'></span> Interaction</h3>
          
          <nav>
    <ul>
        <a class="smoothScroll" href='#about-anchor'><li>about</li></a>
        <a class="smoothScroll" href='#resume-anchor'><li>resume</li></a>
        <a class="smoothScroll" href='#portfolio-anchor'><li>portfolio</li></a>
        <a class="smoothScroll" href='#contact-anchor'><li>contact</li></a>
    </ul>
</nav>
      </div>
   </div>  
      <div id='about-container'>
        <div class='about'>
          <a name='about-anchor'class='about-anchor1'></a>
          <h2>a little about me</h2>
            <div class='bio'>
                <div class='head-overview'>
                    <img class='headshot' src='/images/headshot.png' alt='Jacob picture'>
                    <p class='bio-overview'>
                        I’m a UX/UI designer, graphic designer, and programmer with experience in industries including start-ups, nonprofits, and tech(SaaS), which has given me the distinct ability to examine situations and consider strategies from different perspectives.
                        I have a deep passion for crafting elegant and engaging interfaces and designs, and my creativity, empathy, critical thinking, and collaborative nature have been beneficial in helping me understand user behaviors and motivations, as well as make thoughtful decisions. 
                        Those insights have allowed me be more open-minded as I figure out the details, while focusing on the big picture.
                    </p>
                </div>
                <h3 class='wts-title'>My Philosphy</h3>
                <p>  
                    Technology is remarkable. It brings us more convenience and efficiency to our everyday lives. It allows us to do more activities with more immediacy. 
                    It brings us together. However, as we are becoming more and more connected through technology, we are losing intimacy, empathy, and compassion for each other. 
                    Our expectations for <i>more</i> and <i>faster</i> are vastly outweighing the considerations we should have for people. This mindset has also been bleeding into the products we use.
                </p>
                <p>
                    As a user experience designer, I don’t think of what I do as human–computer interaction, but rather as human–human interaction. Yes, we use technology to make some of those connections, but it doesn’t mean we should shortcut the humanity behind the interactions. 
                    With that in mind, I strive to craft products uniquely effective—telling stories and solving problems specific to those using them. Nothing is more important than understandings the needs, wants, and expectations by both the client-side users and the end users.
                </p>

            <h3 class='wts-title'>wait... why &#8220;words to song&#8221;?</h3>
                <p>  
                    This may come as a surprise, but my name isn’t particularly unique. 
                    I felt it necessary to come up with an internet handle to distinguish myself a bit
                    and happened upon a song titled “Jacob” that included those lyrics, which resonated with me.
                    To me, it’s poetic by holding a couple meanings: 
                    being in the process of creating (the words to a song), as well as the transition from process to completion of something created (having words and creating a song out of them).
                    What can I say? I enjoy layered meanings.
                    </p>
            <h3 class='act-title'>what i&#146;m likely doing when i&#146;m not designing</h3>
            <div class='freetime-activities'>   
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/headphones.svg' alt='headphones icon'>
                    <h3 class='act-name'>Podcast Binging</h3>
                    <h3 class='act-name'>Music Exploring</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/film.svg' alt='film icon'>
                    <h3 class='act-name'>Film Indulging &amp; Discussing</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/workout.svg' alt='workout icon'>
                    <h3 class='act-name'>Dog Jogging</h3>
                    <h3 class='act-name'>Moderately-Heavy-Things Lifting</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/guitar.svg' alt='guitar icon'>
                    <h3 class='act-name'>Guitar Strumming</h3>
                    <h3 class='act-name'>Karaoke Partaking</h3>
                </div>
                <div class='activity'>
                    <img class='act-icon' src='/images/icons/book.svg' alt='book icon'>
                    <h3 class='act-name'>Book Diving</h3>
                    <h3 class='act-name'>Board Games (Not Named Monopoly) Experiencing</h3>
                </div>
            </div>     
            </div>
          </div>
        </div> 
    <div id='resume-container'>
        <div class='resume'>
            <a name='resume-anchor'class='resume-anchor1'></a>
            <h2>experience &amp; knowledge: got ‘em</h2>
            <div data-aos="fade-right">
                <h3>Four years of UX/UI Design experience</h3>
            </div>
            <div data-aos="fade-left">
                <h3>Over five years of Graphic Design experience</h3>
            </div>
            <div data-aos="fade-up">
                <h3>Quantitative results to ensure confidence in my thoughtful decision-making</h3>
            </div>
            <div data-aos="fade-up">      
                <h3>Along with design and web dev, I have a background in and experience with:</h3>
            </div>   
            <div data-aos="fade-up-right">  
                    <p class='background'>Psychology</p>
            </div>
            <div data-aos="fade-up-left">
                    <p class='background'>Marketing</p>
            </div>
            <div data-aos="fade-up-right">
                    <p class='background'>Communications</p>
            </div>
            <div data-aos="fade-up-left">
                    <p class='background'>Management</p>
            </div>
            <div data-aos="fade-up">
                    <p class='background'>Research &amp; Analytics</p>
            </div>
            <div data-aos="fade-up">
                <div class='skills'>
                    <h3 class='skills-title'>skills</h3>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>design / ux / ui</h3>
                        <h4 class='skills-subhead'>Photoshop</h4>
                        <p class='skills-details'>Graphic Creating</p>
                        <p class='skills-details'>Illustration</p>
                        <h4 class='skills-subhead'>Illustrator</h4>
                        <p class='skills-details'>Vector Creating</p>
                        <p class='skills-details'>Graphic Creating</p>
                        <p class='skills-details'>Web Mockups</p>
                        <p class='skills-details'>Wireframing</p>
                        <h4 class='skills-subhead'>InDesign</h4>
                        <p class='skills-details'>Book/Journal Layout</p>
                        <p class='skills-details'>Printed Marketing</p>
                        <h4 class='skills-subhead'>Axure/Sketch/InVision</h4>
                        <p class='skills-details'>Web Mockups</p>
                        <p class='skills-details'>Wireframing</p>
                        <p class='skills-details'>Prototyping</p>
                    </div>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>web development</h3>
                        <h4 class='skills-subhead'>HTML</h4>
                        <h4 class='skills-subhead'>CSS</h4>
                        <p class='skills-details'>Responsive Design</p>
                        <h4 class='skills-subhead'>JavaScript</h4>
                        <p class='skills-details'>JQuery</p>
                        <p class='skills-details'>Node.js</p>
                        <h4 class='skills-subhead'>Git</h4>
                        <p class='skills-details'>GitHub</p>
                        
                    </div>
                    <div class='skills-cat'>
                        <h3 class='skills-head'>web content</h3>
                        <h4 class='skills-subhead'>CMS</h4>
                        <p class='skills-details'>WordPress</p>
                        <p class='skills-details'>Drupal</p>
                        <h4 class='skills-subhead'>Email</h4>
                        <p class='skills-details'>MailChimp</p>
                        <p class='skills-details'>Constant Contact</p>
                        <h4 class='skills-subhead'>Google Analytics</h4>
                    </div>
                    <div class='skills-cat'id='last'>
                        <h3 class='skills-head'>Other</h3>
                        <h4 class='skills-subhead'>Photography</h4>
                        <h4 class='skills-subhead'>Video Recording</h4>
                        <p class='skills-details'>Premier Pro</p>
                        <p class='skills-details'>YouTube</p>
                        <h4 class='skills-subhead'>Audio Recording</h4>
                        <p class='skills-details'>Audition</p>
                        <p class='skills-details'>Audacity</p>
                        <p class='skills-details'>SoundCloud</p>
                        <h4 class='skills-subhead'>Social Media</h4>
                        <p class='skills-details'>Facebook</p>
                        <p class='skills-details'>Twitter</p>
                        <p class='skills-details'>Instagram</p>
                        <p class='skills-details'>Disqus</p>
                        <p class='skills-details'>Tumblr</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in">    
                <div class='linkedpdf'>
                    <a href='https://www.linkedin.com/in/jacobkimjohnson' target='_blank'><div class='resume-btn'>LinkedIn Profile</div></a>
                
                    <a href='/images/resume.pdf' target='_blank'><div class= 'resume-btn'>Resume PDF</div></a>
                </div>
            </div>
        </div>    
    </div>
    <div id='portfolio-container'>
        <div class='portfolio'>
            <a name ='portfolio-anchor' class='portfolio-anchor1'></a>
            <h2>here&#146;s a little proof</h2>
                <p class='port-sub'>Click on any of the following categories for examples of work</p>
                <div class="port-menu">
                    <div class='type-title'>
                    <a class="type-menu toggle" href="javascript:void(0);">UX / UI / Web Dev</a>
                        <div class="inner examples-menu">
                            <div class='examples'>
                                <div class="dev-port">
                                     {{!-- <p class='overview'>
                                        I have designed these websites from scratch which are in concept stages of development, so they contain either limited or dummy content (excluding my portfolio site). 
                                        The exception is CBE International, which only demonstrates my UX/UI process of the website. 
                                    </p> --}}
                                 <div class='site-list'>
                                    <div class='cbe-container'>
                                    <a href="cbe-process" target='_blank'><img class='web-image' src='/images/web-dev/cbe-image.png' alt='CBE logo image'></a>
                                    <div class='ux-btn-container'>     
                                        <a href='cbe-process' target='_blank'><div class='ux-btn'>The Process</div></a>
                                        <a href='http://www.cbeinternational.org' target='_blank'><div class='ux-btn'>Live Website</div></a>
                                    </div>
                                    </div>
                                <div class='words-to-song-container'>
                                    <a href="wts-process" target='_blank'><img class='web-image' src='/images/web-dev/wts-logo-update.png' alt='Words to song logo image'></a>
                                    <div class='ux-btn-container'>     
                                        <a href='wts-process' target='_blank'><div class='ux-btn'>The Process</div></a>
                                        <a href='http://www.wordstosong.me' target='_blank'><div class='ux-btn'>Live Website</div></a>
                                    </div>
                                </div>
                                <div class='speak-louder-container'>
                                    <a href="sl-process" target='_blank'><img class='web-image' src='/images/web-dev/sl-image.png' alt='Speak Louder! logo image'></a>
                                    <div class='ux-btn-container'> 
                                        <a href='sl-process' target='_blank'><div class='ux-btn'>The Process</div></a>
                                        <a href='http://www.speak-louder.com' target='_blank'><div class='ux-btn'>Live Prototype</div></a>
                                    </div>
                                </div>
                                {{!-- <div class='toons-for-days-container'>
                                    <a href="http://toonsfordays.herokuapp.com" target='_blank'><img class='web-image' src='/images/web-dev/tfd-image.png' alt='Toons for Days logo image'></a>
                                    <p class='cap'><i>Toons for Days</i> is a place for cartoonists to post single-panel comics.</p>
                                </div> --}}
                                <div class='werdzahn-container'>
                                    <a href="werdzahn-process" target='_blank'><img class='web-image' src='/images/web-dev/werdzahn-image.png' alt='werdzahn logo image'></a>
                                    <div class='ux-btn-container'>   
                                        <a href='werdzahn-process' target='_blank'><div class='ux-btn'>The Process</div></a>
                                        <a href='http://werdzahn.herokuapp.com' target='_blank'><div class='ux-btn'>Live Prototype</div></a>
                                    </div> 
                                </div>
                            </div>
                        </div>
      </div>
    </div>  
  </div>
  <div class='type-title'>
    <a class="type-menu toggle" href="javascript:void(0);">Graphic Design</a>
    <div class="inner examples-menu">
      <div class='examples'>
          <div class='des-port'>
            {{!-- <p class='overview'>
                These designs are primarily examples of work I have done on professional projects. 
                I have sprinkled in some designs for personal projects I have been working on, as well.
            </p> --}}
                                <div class='logo-designs'>
                                    <h3 class='des-subhead'>logo designs</h3>
                                    <div class='logo-port'>
                                        {{!-- <p class='overview'>
                                            Drawing is a passion of mine, and I am continually trying to improve my craft while exploring different styles using graphic tools.
                                            It also serves as a driving force in expanding my skills in graphic design and web development. 
                                        </p> --}}
                                        <div id="photos">
                                            <div id="photo-gallery">
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/cbe-logo1.png" data-lightbox="image-1" data-title="Main Logo Concept #1 (CBE)">
                                                    <img src="/images/graph-des/logos/cbe-logo1-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/cbe-logo2.png" data-lightbox="image-1" data-title="Main Logo Concept #2 (CBE)">
                                                    <img src="/images/graph-des/logos/cbe-logo2-prev.png"></a>   
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/arise-logo1.png" data-lightbox="image-1" data-title="Arise Blog Logo Concept #1 (CBE)">
                                                    <img src="/images/graph-des/logos/arise-logo1-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/arise-logo2.png" data-lightbox="image-1" data-title="Arise Blog Logo Concept #2 (CBE)">
                                                    <img src="/images/graph-des/logos/arise-logo2-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/arise-logo3.png" data-lightbox="image-1" data-title="Arise Blog Logo Concept (CBE)">
                                                    <img src="/images/graph-des/logos/arise-logo3-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/sl-logo.png" data-lightbox="image-1" data-title="Speak Louder Comic">
                                                    <img src="/images/graph-des/logos/sl-logo-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/werdzahn-logo.png" data-lightbox="image-1" data-title="Werdzahn Website">
                                                    <img src="/images/graph-des/logos/werdzahn-logo.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/wts-logo-update.png" data-lightbox="image-1" data-title="Words to Song Portfolio">
                                                    <img src="/images/graph-des/logos/wts-logo-update.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/dofp-logo.png" data-lightbox="image-1" data-title="Days of Feature Past Podcast">
                                                    <img src="/images/graph-des/logos/dofp-logo-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/tbr-update.png" data-lightbox="image-1" data-title="To Be Rebooted Podcast">
                                                    <img src="/images/graph-des/logos/tbr-update-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/logos/tfd-logo.png" data-lightbox="image-1" data-title="Toons for Days Website">
                                                    <img src="/images/graph-des/logos/tfd-logo-prev.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='digital-designs'>
                                    <h3 class='des-subhead'>digital designs</h3>
                                    <div class='dig-port'>
                                        {{!-- <p class='overview'>
                                            Drawing is a passion of mine, and I am continually trying to improve my craft while exploring different styles using graphic tools.
                                            It also serves as a driving force in expanding my skills in graphic design and web development. 
                                        </p> --}}
                                        <div id="photos">
                                            <div id="photo-gallery">
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-30.png" data-lightbox="image-2" data-title="Social Media 2015 Conference Graphic: 30 Days (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-30-prev-alt.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-con-quote.png" data-lightbox="image-2" data-title="Social Media 2015 Conference Graphic: Theme (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-con-quote-prev.png"></a>   
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-fl.png" data-lightbox="image-2" data-title="Promo for 2017 Conference: Greetings From (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-fl-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-founder.png" data-lightbox="image-2" data-title="Founder Memorial Graphic (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-founder-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-gtmd.png" data-lightbox="image-2" data-title="GTMD 2015 Graphic (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-gtmd-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-sale.png" data-lightbox="image-2" data-title="BHM Book Sale (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-sale-prev-alt.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-twit.png" data-lightbox="image-2" data-title="Social Media Quote Graphic (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-twit-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/newsletter-pie.png" data-lightbox="image-2" data-title="Email Graphic (CBE)">
                                                    <img src="/images/graph-des/digital/newsletter-pie-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/cbe-finland-ad.png" data-lightbox="image-2" data-title="Save the Date 2018 Finland Conference (CBE)">
                                                    <img src="/images/graph-des/digital/cbe-finland-ad-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/digital/infographic-icons.png" data-lightbox="image-2" data-title="Infographic Icons (CATS)">
                                                    <img src="/images/graph-des/digital/infographic-icons-prev.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='print-designs'>
                                    <h3 class='des-subhead'>print designs</h3>
                                    <div class='print-port'>
                                        {{!-- <p class='overview'>
                                            Drawing is a passion of mine, and I am continually trying to improve my craft while exploring different styles using graphic tools.
                                            It also serves as a driving force in expanding my skills in graphic design and web development. 
                                        </p> --}}
                                        <div id="photos">
                                            <div id="photo-gallery">
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-book-cover-spread.png" data-lightbox="image-3" data-title="Still Side By Side Covers/Spread (CBE)">
                                                    <img src="/images/graph-des/print/cbe-book-cover-spread-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-con-booklet.png" data-lightbox="image-3" data-title="Becoming New 2015 Conference Booklet (CBE)">
                                                    <img src="/images/graph-des/print/cbe-con-booklet-prev.png"></a>   
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-con-full.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Poster (CBE)">
                                                    <img src="/images/graph-des/print/cbe-con-full-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-con-spread.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Ad (CBE)">
                                                    <img src="/images/graph-des/print/cbe-con-spread-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-orlando-brochure.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Brochure (CBE)">
                                                    <img src="/images/graph-des/print/cbe-orlando-brochure-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-dvd-ad.png" data-lightbox="image-3" data-title="DVD Series Ad (CBE)">
                                                    <img src="/images/graph-des/print/cbe-dvd-ad-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/cbe-xmas-sale.png" data-lightbox="image-3" data-title="Christmas Sale Ad (CBE)">
                                                    <img src="/images/graph-des/print/cbe-xmas-sale-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/ollymoss-poster.png" data-lightbox="image-3" data-title="Olly Moss Poster">
                                                    <img src="/images/graph-des/print/ollymoss-poster-prev.png"></a>
                                                </div>
                                                <div class='port-image'>
                                                    <a href="/images/graph-des/print/mbd-cover.png" data-lightbox="image-3" data-title="Mutual By Design Book Cover (CBE)">
                                                    <img src="/images/graph-des/print/mbd-cover-prev.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
      </div>
    </div>  
  </div>
  <div class='type-title'>
    <a class="type-menu toggle" href="javascript:void(0);">Illustrations</a>
    <div class="inner examples-menu">
      <div class='examples'>
        <div class='ill-port'>
            {{!-- <p class='overview'>
                Drawing is a passion of mine, and I am continually trying to improve my craft while exploring different styles using graphic tools.
                It also serves as a driving force in expanding my skills in graphic design and web development. 
            </p> --}}
            <div id="photos">
                <div id="photo-gallery">
                    <div class='port-image'>
                        <a href="/images/ill/game.png" data-lightbox="image-4" data-title="Playing Cranium">
                        <img src="/images/ill/game-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/last-resistance.png" data-lightbox="image-4" data-title="The Last Resistance">
                        <img src="/images/ill/last-resistance-prev.png"></a>   
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/sufjan.png" data-lightbox="image-4" data-title="Sufjan Stevens">
                        <img src="/images/ill/sufjan-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/bb.png" data-lightbox="image-4" data-title="Breaking Bad">
                        <img src="/images/ill/bb-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/cats.png" data-lightbox="image-4" data-title="CATS Comic #1">
                        <img src="/images/ill/cats-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/cats-two.png" data-lightbox="image-4" data-title="CATS Comic #2">
                        <img src="/images/ill/cats-two-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/scrabble.png" data-lightbox="image-4" data-title="Happenstance">
                        <img src="/images/ill/scrabble-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/iver.png" data-lightbox="image-4" data-title="Justin Vernon of Bon Iver">
                        <img src="/images/ill/iver-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/coldplay.png" data-lightbox="image-4" data-title="Chris Martin of Coldplay">
                        <img src="/images/ill/coldplay-prev.png"></a>
                    </div>
                    <div class='port-image'>
                        <a href="/images/ill/simon-garfunk-prev.png" data-lightbox="image-4" data-title="Simon & Garfunkel">
                        <img src="/images/ill/simon-garfunk-prev.png"></a>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
  </div>
</div>    
        </div>
    </div>
    <div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'><h2>let&#146;s connect</h2></a>
            <p class='contact-text'>Email: <a class='contact-link' href='mailto:jacob.kim.johnson@gmail.com'>jacob.kim.johnson@gmail.com</a></p>
            <p class='contact-text'>Phone: <a class='contact-link' href='tel:608-790-7675'>(608) 790-7675</a></p>
        </div>
    </div> 