<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='content'>
    <div class="top-section">
<canvas class="container" id="container" role="main"></canvas>

    <div id='home-container'>
        <span class='home-box'>
            <div class='home-content'>
                <p class="desc">Hey! I&#8217;m Jacob,</br>&amp; I&#8217;m a User Experience Designer.</p>
                <p class='construction'> (I&#8217;m also updating my website. Bear with me. <i class="fas fa-grin-beam-sweat"></i> )</p>
                <ul class="nav">
                    <li>
                        <a class="smoothScroll" href="#about-anchor">About</a></li>
                    <li>
                        <a class="smoothScroll" href="#resume-anchor">Resume</a></li>
                    <li>
                        <a class="smoothScroll" href="#portfolio-anchor">Portfolio</a></li>
                </ul>
            </div>
        </span>    
    </div>
      <div class="blur blurTop"><canvas class="canvas"id="blurCanvasTop"></canvas></div>
<div class="blur blurBottom"><canvas  class="canvas" id="blurCanvasBottom"></canvas>
</div>
</div>
<div class="bottom-section">
    <div id='about-container'>
        <div class='about'>
            <a name='about-anchor' class='about-anchor1'></a>
            
            <h2>A Little About Me</h2>
            <div class='bio-wrapper'>
                <div class='head-overview'>
                    <img class='headshot' id='headshot' src='/images/icons/hs.png' alt='Jacob picture'>
                    
                        <h3 class='sum-title'>Quick Summary</h3>
                        <p class='bio-overview'>
                            As a user experience designer, I have a desire to understand users as holistically as I can. 
                            With over 6 years of experience in industries including start-ups, tech, and nonprofits, 
                            I have been given unique opportunities to examine situations and consider strategies from all sorts of perspectives with different intentions. 
                            I have a passion for crafting elegant and engaging interfaces and designs, and my empathy, critical thinking, and collaborative nature 
                            have been beneficial in helping me understand user behaviors and motivations, as well as make thoughtful decisions. All of that has shaped me 
                            to be more open-minded as I figure out the details, while also focusing on the big picture.
                        </p>
                    
                </div>
                <div class='phil-wrap'>
                    <div class='phil-overview'>
                        {{!-- <div id='mob-phil'> --}}
                            <img class='phil-icon' src='/images/icons/phil.png' alt='philosophy icon'>
                            <h3 class='phil-title'>My Philosophy</h3>
                            
                            <p>
                                Broadly stated, my goal is as simple as this:
                            </p>
                            <p>
                                <strong>I want to do my part in helping others.</strong>
                            </p>
                            <p>
                                While we are becoming more and more connected as technology gets better, we are losing intimacy, empathy, and compassion for each other.
                            </p>
                            <p>
                                We need to be more mindful in designing for human beings.
                            </p>
                            <p>
                                To reflect that, I strive to craft products uniquely effective—finding out what works and what doesn&#8217;t, and solving the problems specific to the individuals using those products.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='resume-container'>
        <div class='resume'>
            <a name='resume-anchor' class='resume-anchor1'></a>
            

            <h2>Got That Experience</h2>
            <div class='linkedpdf'>
                <a class='resume-btn' href='/images/resume/resume.pdf' target='_blank'>
                    Resume
                </a>
                <a class='text-only' href='/images/resume/resume-text.pdf' target='_blank'>Text-Only Resume</a>
            </div>
                
            <div class='res-wrap'>
                <img class='res-icon' src='/images/icons/shirt.png' alt='resume icon'>
                
                        <h3 class='gig'>Current Gig: UX/UI Designer at TiM/Media Services</h3>
                            <p class='gig-sub'>(A Subsidiary of Cast &amp; Crew) </p>
                        <div class='res-overview'>
                            
                            

                                <h3 class='gig-head'>What is TiM?</h3>

                                <p>
                                TiM (Time is Money) is a SaaS application, revolutionizing the digital onboarding process for production crews and studios in the entertainment industry. 
                                By streamlining and centralizing all required tasks, and tracking and approving Startwork, TiM makes the entire process easier, more intuitive and secure by decreasing human error and enabling electronic approval from any device.
                                </p>

                                <h3 class='gig-head'>What am I doing?</h3>

                                <p>
                                As the senior product designer, I collaborate with engineers, project managers, stakeholders, and customer support to craft designs to improve and expand the experience of the TiM application. 
                                From fine-tuning minor features to conceptualizing major interface overhauls to providing guidelines for consistency in application content, I make thoughtful, user-centric decisions to help users engaged with the process more efficiently and friendly. 
                                </p>
                        </div>
                </div>
                <div class='des-wrap'>
                    <div class='skill-overview'>
                    
                            <img class='des-icon' src='/images/icons/dd.png' alt='design icon'>
                            <h3 class='gtk-title'>Some Good-to-Knows</h3>
                            <h4 class='parenthetical'>(Or is it &#8220;Goods-to-Know&#8221;?)</h4>
                            
                            <div class='des-list'>
                                <h3 class='gtk-head'>I have...</h3>
                                    <ul>
                                        <li>Over 6 years of UX/UI design experience</li>
                                        <li>Over 7 years of visual design experience</li>
                                        <li>A background and deep interest in human social psychology</li>
                                        <li>A background in business and marketing</li>
                                    </ul>
                                <h3 class='gtk-head'>I use...</h3>
                                        <ul>
                                            <li>Sketch</li>
                                            <li>Figma</li>
                                            <li>Invision</li>
                                            <li>Adobe CC</li>
                                            <li>Zeplin</li>
                                            <li>HTML/CSS/JavaScript</li>
                                        </ul>
                            </div>
           
                    </div>
                </div>

        </div>
    </div>
    <div id='portfolio-container'>
        <div class='portfolio'>
            <a name='portfolio-anchor' class='portfolio-anchor1'></a>
            <h2>Concept of Proof</h2>
            <p class='port-sub'>Click on any of the following categories for examples of work</p>
            <div class="port-menu">
                <div class='type-title'>
                    <a class="type-menu toggle" id='dev-drop' href="javascript:void(0);">UX / UI</a>
                    <div class="inner examples-menu">
                        <div class='examples'>
                            <div class="dev-port">
                                <div class='site-list'>
                                    <div class='dev-container'>
                                     <a class='hover-link' href="cbe-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/cbe-ux-prev.png" alt="" />
                                    
                                        <div class='captext'><p class="captitle">CBE International</p>
                                        <p class='capsub'>UX/UI</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div>
                                    <div class='dev-container'>
                                     <a class='hover-link' href="wts-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/wts-ux-prev.png" alt="" />
                                    <div class="captext">
                                        <p class='captitle'>Professional Portfolio</p>
                                        <p class='capsub'>UX/UI + Development</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div><div class='dev-container'>
                                     <a class='hover-link' href="sl-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/sl-ux-3-prev.png" alt="speak louder ux preview" alt="" />
                                    <div class='captext'><p class="captitle">Webcomic</p>
                                        <p class='capsub'>UX/UI + Development</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div>
                                    <div class='dev-container'>
                                    <a class='hover-link' href="werdzahn-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/werdzahn-ux-prev.png" alt="" />
                                    
                                        <div class='captext'><p class="captitle">Entertainment Blog</p>
                                        <p class='capsub'>UX/UI</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div>
                                    {{!-- <div class='dev-container'>
                                     <a class='hover-link' href="tfd-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/tfd-ux-prev.png" alt="" />
                                    
                                        <div class='captext'><p class="captitle">Webcomic Social Media App</p>
                                        <p class='capsub'>UX/UI</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div> --}}
                                    <div class='dev-container'>
                                     <a class='hover-link' href="sm-process" target='_blank'>
                                    <div class="img-wrap">
                                    <img src="/images/web-dev/sm-ux-prev.png" alt="" />
                                    
                                        <div class='captext'><p class="captitle">Live Event Suggestion App</p>
                                        <p class='capsub'>UX/UI</p>
                                        </div>
                                        <div class='caption-bg'></div>
                                    <div class="overlay"></div>
                                    </div></a>
                                    </div>
                                    </div>

                                
                            </div>
                        </div>
                        </div>
                    </div>
                <div class='type-title'>
                        <a class="type-menu toggle" id='vis-drop' href="javascript:void(0);">Visual Design</a>
                        <div class="inner examples-menu">
                            <div class='examples'>
                                <div class='des-port'>
                                    <div class='logo-designs'>
                                        <h3 class='des-subhead'>Logo Designs</h3>
                                        <div class='logo-port'>
                                            <div class='site-list'>
                                            <div class='des-container'>
                                    
                                                <a href="/images/graph-des/logos/sl-logo.png" data-effect="mfp-zoom-in" title="Speak Louder">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/sl-logo-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Speak Louder</p>
                                                    <p class='capsub'>Webcomic</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                     
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/werdzahn-logo.png" data-effect="mfp-zoom-in" title="Werdzahn">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/werdzahn-logo.png" />
                                                
                                                    <div class='captext'><p class="captitle">Werdzahn</p>
                                                    <p class='capsub'>Entertainment Blog</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/wts-logo-update.png" data-effect="mfp-zoom-in" title="Words to Song">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/wts-logo-update.png" />
                                                
                                                    <div class='captext'><p class="captitle">Words to Song</p>
                                                    <p class='capsub'>Portfolio</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/dofp-logo.png" data-effect="mfp-zoom-in" title="Days of Feature Past">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/dofp-logo-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Days of Feature Past</p>
                                                    <p class='capsub'>Podcast</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/tbr-update.png" data-effect="mfp-zoom-in" title="To Be Rebooted">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/tbr-update-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">To Be Rebooted</p>
                                                    <p class='capsub'>Podcast</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/tfd-logo.png" data-effect="mfp-zoom-in" title="Toons for Days">
                                                <div class="img-wrap">
                                                <img class='img-prev' src='/images/graph-des/logos/tfd-logo.png' />
                                                
                                                    <div class='captext'><p class="captitle">Toons for Days</p>
                                                    <p class='capsub'>Website</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/cd-logo.png" data-effect="mfp-zoom-in" title="Cheat Day App">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/cd-logo-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Cheat Day</p>
                                                    <p class='capsub'>App</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/sm-logo.png" data-effect="mfp-zoom-in" title="Show Me App">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/sm-logo-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Show Me</p>
                                                    <p class='capsub'>App</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/cbe-logo1.png" data-effect="mfp-zoom-in" title="CBE International (Concept 1)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/cbe-logo1-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">CBE International (Concept 1)</p>
                                                    <p class='capsub'>Non-Profit</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/cbe-logo2.png" data-effect="mfp-zoom-in" title="CBE International (Concept 2)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/cbe-logo2-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">CBE International (Concept 2)</p>
                                                    <p class='capsub'>Non-Profit</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/arise-logo1.png" data-effect="mfp-zoom-in" title="Arise Blog (Concept 1)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/arise-logo1-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Arise (Concept 1)</p>
                                                    <p class='capsub'>Blog</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/logos/arise-logo3.png" data-effect="mfp-zoom-in" title="Arise Blog (Concept 2)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/logos/arise-logo3-prev.png" />
                                                
                                                    <div class='captext'><p class="captitle">Arise (Concept 2)</p>
                                                    <p class='capsub'>Blog</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                </div>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='digital-designs'>
                                        <h3 class='des-subhead'>Designs for Digital Use</h3>
                                        <div class='dig-port'>
                                            <div class='site-list'>
                                            <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-30.png" data-effect="mfp-zoom-in" title="Conference Graphic: 30 Days (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-30-prev-alt.png" />
                                                    <div class='captext'><p class="captitle">Conference Graphic: 30 Days </p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-con-quote.png" data-effect="mfp-zoom-in" title="Conference Graphic: Quote (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-con-quote-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Graphic: Quote </p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-fl.png" data-effect="mfp-zoom-in" title="Conference Promo (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-fl-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Promo</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-founder.png" data-effect="mfp-zoom-in" title="Founder Memorial Graphic (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-founder-prev.png" />
                                                    <div class='captext'><p class="captitle">Founder Memorial Graphic</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-gtmd.png" data-effect="mfp-zoom-in" title="Fundraiser Graphic (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-gtmd-prev.png" />
                                                    <div class='captext'><p class="captitle">Fundraiser Graphic</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                 <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-sale.png" data-effect="mfp-zoom-in" title="Bookstore Sale Ad (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-sale-prev-alt.png" />
                                                    <div class='captext'><p class="captitle">Bookstore Sale Ad</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-twit.png" data-effect="mfp-zoom-in" title="Quote Graphic (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-twit-prev.png" />
                                                    <div class='captext'><p class="captitle">Quote Graphic</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/newsletter-pie.png" data-effect="mfp-zoom-in" title="Newsletter Graphic (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/newsletter-pie-prev.png" />
                                                    <div class='captext'><p class="captitle">Newsletter Graphic</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/cbe-finland-ad.png" data-effect="mfp-zoom-in" title="Conference Ad (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/cbe-finland-ad-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Ad</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/digital/infographic-icons.png" data-effect="mfp-zoom-in" title="Infographic Icons (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/digital/infographic-icons-prev.png" />
                                                    <div class='captext'><p class="captitle">Infographic Icons</p>
                                                    <p class='capsub'>CATS Software</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                </div>
                                            {{!-- <div id="photos">
                                                <div id="photo-gallery"> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-30.png" data-lightbox="image-2" data-title="Social Media 2015 Conference Graphic: 30 Days (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-30-prev-alt.png" />
                                                                    <figcaption>
                                                                        <p>Conference Graphic: 30 Days</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-con-quote.png" data-lightbox="image-2" data-title="Conference Graphic: Theme (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-con-quote-prev.png" />
                                                                    <figcaption>
                                                                        <p>Conference Graphic: Theme</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-fl.png" data-lightbox="image-2" data-title="Promo for 2017 Conference: Greetings From (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-fl-prev.png" />
                                                                    <figcaption>
                                                                        <p>Greetings From Promo</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-founder.png" data-lightbox="image-2" data-title="Founder Memorial Graphic (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-founder-prev.png" />
                                                                    <figcaption>
                                                                        <p>Memorial Graphic</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-gtmd.png" data-lightbox="image-2" data-title="GTMD 2015 Graphic (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-gtmd-prev.png" />
                                                                    <figcaption>
                                                                        <p>GTMD 2015 Graphic</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-sale.png" data-lightbox="image-2" data-title="BHM Book Sale (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-sale-prev-alt.png" />
                                                                    <figcaption>
                                                                        <p>BHM Book Sale</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-twit.png" data-lightbox="image-2" data-title="Social Media Quote Graphic (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-twit-prev.png" />
                                                                    <figcaption>
                                                                        <p>Quote Graphic</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/newsletter-pie.png" data-lightbox="image-2" data-title="Email Newsletter Graphic (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/newsletter-pie-prev.png" />
                                                                    <figcaption>
                                                                        <p>Newsletter Graphic</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/digital/cbe-finland-ad.png" data-lightbox="image-2" data-title="Save the Date 2018 Finland Conference (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/cbe-finland-ad-prev.png" />
                                                                    <figcaption>
                                                                        <p>Finland Conference Promo</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/digital/infographic-icons.png" data-lightbox="image-2" data-title="Infographic Icons (CATS)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/digital/infographic-icons-prev.png" />
                                                                    <figcaption>
                                                                        <p>Infographic Icons</p>
                                                                        <p class='cap-sub'>CATS Software</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                </div>
                                         
                                    <div class='print-designs'>
                                        <h3 class='des-subhead'>Designs for Print Use</h3>
                                        <div class='print-port'>
                                           
                                            <div class='site-list'>
                                            <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-book-cover-spread.png" data-effect="mfp-zoom-in" title="Book Cover & Spread (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-book-cover-spread-prev.png" />
                                                    <div class='captext'><p class="captitle">Book Cover &amp; Spread</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                 <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-con-booklet.png" data-effect="mfp-zoom-in" title="Conference Booklet (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-con-booklet-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Booklet</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-con-full.png" data-effect="mfp-zoom-in" title="Conference Poster (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-con-full-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Poster</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-orlando-brochure.png" data-effect="mfp-zoom-in" title="Conference Brochure (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-orlando-brochure-prev.png" />
                                                    <div class='captext'><p class="captitle">Conference Brochure</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-dvd-ad.png" data-effect="mfp-zoom-in" title="DVD Series Ad (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-dvd-ad-prev.png" />
                                                    <div class='captext'><p class="captitle">DVD Series Ad</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/cbe-xmas-sale.png" data-effect="mfp-zoom-in" title="Christmas Sale Ad (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/cbe-xmas-sale-prev.png" />
                                                    <div class='captext'><p class="captitle"> Christmas Ad Sale</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/ollymoss-poster.png" data-effect="mfp-zoom-in" title="Olly Moss Poster">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/ollymoss-poster-prev.png" />
                                                    <div class='captext'><p class="captitle"> Olly Moss Poster</p>
                                                    <p class='capsub'>MCTC Project</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/graph-des/print/mbd-cover.png" data-effect="mfp-zoom-in" title="Book Cover (CBE International)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="/images/graph-des/print/mbd-cover-prev.png" />
                                                    <div class='captext'><p class="captitle"> Book Cover</p>
                                                    <p class='capsub'>CBE International</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                </div>
                                            {{!-- <div id="photos">
                                                <div id="photo-gallery">
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-book-cover-spread.png" data-lightbox="image-3" data-title="Still Side By Side Covers/Spread (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-book-cover-spread-prev.png" />
                                                                    <figcaption>
                                                                        <p>SSBS Covers/Spread</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-con-booklet.png" data-lightbox="image-3" data-title="Becoming New 2015 Conference Booklet (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-con-booklet-prev.png" />
                                                                    <figcaption>
                                                                        <p>Conference Booklet</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-con-full.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Poster (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-con-full-prev.png" />
                                                                    <figcaption>
                                                                        <p>Conference Poster</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!--
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-con-spread.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Ad (CBE)">
                                                            <img src="/images/graph-des/print/cbe-con-spread-prev.png">
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-orlando-brochure.png" data-lightbox="image-3" data-title="Mutual By Design 2017 Conference Brochure (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-orlando-brochure-prev.png" />
                                                                    <figcaption>
                                                                        <p>Conference Brochure</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                    {{!-- <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-dvd-ad.png" data-lightbox="image-3" data-title="DVD Series Ad (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-dvd-ad-prev.png" />
                                                                    <figcaption>
                                                                        <p>DVD Series Ad</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/print/cbe-xmas-sale.png" data-lightbox="image-3" data-title="Christmas Sale Ad (CBE)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/cbe-xmas-sale-prev.png" />
                                                                    <figcaption>
                                                                        <p>Christmas Sale Ad</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/print/ollymoss-poster.png" data-lightbox="image-3" data-title="Olly Moss Event Poster">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/ollymoss-poster-prev.png" />
                                                                    <figcaption>
                                                                        <p>Olly Moss Event Poster</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class='port-image'>
                                                        <a href="/images/graph-des/print/mbd-cover.png" data-lightbox="image-3" data-title="Mutual By Design Book Cover & Spread (CBE International)">
                                                            <div class="grid">
                                                                <figure class="effect-jazz">
                                                                    <img class='img-prev' src="/images/graph-des/print/mbd-cover-prev.png" />
                                                                    <figcaption>
                                                                        <p>Mutual By Design Book Cover</p>
                                                                        <p class='cap-sub'>CBE International</p>
                                                                    </figcaption>
                                                                </figure>
                                                            </div>
                                                        </a>
                                                    </div> --}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class='type-title'>
                        <a class="type-menu toggle" id='ill-drop' href="javascript:void(0);">Illustrations</a>
                        <div class="inner examples-menu">
                            <div class='examples'>
                                <div class='ill-port'>
                                    <div class='site-list'>
                                            <div class='des-container'>
                                                <a href="/images/ill/game.png" data-effect="mfp-zoom-in" title="Friends Playing Game">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/game-prev.png" />
                                                    <div class='captext'><p class="captitle">Friends Playing Game</p>
                                                    <p class='capsub'>Digital Cartoon</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/last-resistance.png" data-effect="mfp-zoom-in" title="The Last Game Session">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/last-resistance-prev.png" />
                                                    <div class='captext'><p class="captitle">The Last Game Session</p>
                                                    <p class='capsub'>Digital Cartoon</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/sufjan.png" data-effect="mfp-zoom-in" title="Sufjan Stevens">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/sufjan-prev.png" />
                                                    <div class='captext'><p class="captitle">Sufjan Stevens</p>
                                                    <p class='capsub'>Digital Cartoon</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/bb.png" data-effect="mfp-zoom-in" title="Breaking Bad">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/bb-prev.png" />
                                                    <div class='captext'><p class="captitle">Breaking Bad</p>
                                                    <p class='capsub'>Digital Cartoon</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/catgs.png" data-effect="mfp-zoom-in" title="Blog Comic #1 (CATS Software)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/cats-prev.png" />
                                                    <div class='captext'><p class="captitle">Blog Comic #1</p>
                                                    <p class='capsub'>CATS Software</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/cats-two.png" data-effect="mfp-zoom-in" title="Blog Comic #2 (CATS Software)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/cats-two-prev.png" />
                                                    <div class='captext'><p class="captitle">Blog Comic #2</p>
                                                    <p class='capsub'>CATS Software</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/scrabble.png" data-effect="mfp-zoom-in" title="Scrabble Happenstance">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/scrabble-prev.png" />
                                                    <div class='captext'><p class="captitle">Scrabble Happenstance</p>
                                                    <p class='capsub'>MCTC Project</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/iver.png" data-effect="mfp-zoom-in" title="Justin Vernon (Bon Iver)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/iver-prev.png" />
                                                    <div class='captext'><p class="captitle">Justin Vernon (Bon Iver)</p>
                                                    <p class='capsub'>Digital Drawing</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/coldplay.png" data-effect="mfp-zoom-in" title="Chris Martin (Coldplay)">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/coldplay-prev.png" />
                                                    <div class='captext'><p class="captitle">Chris Martin (Coldplay)</p>
                                                    <p class='capsub'>Digital Drawing</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                <div class='des-container'>
                                                <a href="/images/ill/simon-garfunk.png" data-effect="mfp-zoom-in" title="Simon & Garfunkel">
                                                <div class="img-wrap">
                                                <img class='img-prev' src="images/ill/simon-garfunk-prev.png" />
                                                    <div class='captext'><p class="captitle">Simon &amp; Garfunkel</p>
                                                    <p class='capsub'>Digital Drawing</p>
                                                    </div>
                                                    <div class='caption-bg'></div>
                                                <div class="overlay"></div>
                                                </div></a>
                                                </div>
                                                </div>
                                    {{!-- <div id="photos">
                                        <div id="photo-gallery">
                                            <div class='port-image'>
                                                <a href="/images/ill/game.png" data-lightbox="image-4" data-title="Playing Cranium">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/game-prev.png" />
                                                            <figcaption>
                                                                <p>Playing Cranium</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div> --}}
                                            {{!-- <div class='port-image'>
                                                <a href="/images/ill/last-resistance.png" data-lightbox="image-4" data-title="The Last Resistance">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/last-resistance-prev.png" />
                                                            <figcaption>
                                                                <p>The Last Resistance</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/sufjan.png" data-lightbox="image-4" data-title="Sufjan Stevens">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/sufjan-prev.png" />
                                                            <figcaption>
                                                                <p>Sufjan Stevens</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/bb.png" data-lightbox="image-4" data-title="Breaking Bad">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/bb-prev.png" />
                                                            <figcaption>
                                                                <p>Breaking Bad</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div> --}}
                                            {{!-- <div class='port-image'>
                                                <a href="/images/ill/cats.png" data-lightbox="image-4" data-title="CATS Comic #1">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/cats-prev.png" />
                                                            <figcaption>
                                                                <p>CATS Comic #1</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/cats-two.png" data-lightbox="image-4" data-title="CATS Comic #2">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/cats-two-prev.png" />
                                                            <figcaption>
                                                                <p>CATS Comic #2</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/scrabble.png" data-lightbox="image-4" data-title="Happenstance">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/scrabble-prev.png" />
                                                            <figcaption>
                                                                <p>Happenstance</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/iver.png" data-lightbox="image-4" data-title="Justin Vernon of Bon Iver">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/iver-prev.png" />
                                                            <figcaption>
                                                                <p>Justin Vernon of Bon Iver</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/coldplay.png" data-lightbox="image-4" data-title="Chris Martin of Coldplay">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/coldplay-prev.png" />
                                                            <figcaption>
                                                                <p>Chris Martin of Coldplay</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class='port-image'>
                                                <a href="/images/ill/simon-garfunk-prev.png" data-lightbox="image-4" data-title="Simon & Garfunkel">
                                                    <div class="grid">
                                                        <figure class="effect-jazz">
                                                            <img class='img-prev' src="/images/ill/simon-garfunk-prev.png" />
                                                            <figcaption>
                                                                <p>Simon &amp; Garfunkel</p>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                        </div> --}}
                                  
                                </div>

                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                
                </div>