<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h1 class='name'>Speak Louder Process</h1>
        <h2>(This page is currently being edited to provide a more thorough process.) </h2>
        <h3>The Prep</h3>
        <p>
            Webcomic site design is generally unintuitive. 
            While some have made strides to incorporate a more modern aesthetic, many of them use CMS templates (WordPress has the popular ComicPress template), are largely not mobile-responsive, and very similar in overall look. 
        </p>
        <p>
            My biggest issue of these, when it comes to user experience is how difficult the strips are to read on anything other than a desktop display. 
            The best solutions have formatted their strips to allow horizontal scrolling. 
            However, the majority of the webcomics I’ve come across (some of which are among the most popular), either don’t format for mobile at all, or shrink the entire page to respond to mobile devices, making the comic itself virtually unreadable.
        </p>
        <h3>The Plan</h3>
        <p>
            I have been working to create an ongoing webcomic of my own. 
            Originally, I went the ComicPress route as it was the most accessible to my novice abilities. 
            However, the more I built out the design, the more frustrated I became with the template’s limitations.
        </p>
        <p>
            Fast-forward a bit, I decided I wanted to become a more proficient web developer, and my webcomic website was the perfect project to practice my developing skills. 
            Being critical of certain aspects of webcomic design, there were a handful of problems I wanted to solve in my user-centric design: 
        </p>
        <ul>
            <li>
                Mobile-responsiveness with two break points so that comic panels will have optimal displays on desktop, tablet, and mobile devices
            </li>
            <li>
                Clean, deliberate design of additional site elements, instead of tacked-on widgets
            </li>
            <li>
                A clear, simple archive system that keeps track of read comic strips
            </li>
            <li>
                A homepage that brings connectivity to the community (sure, having readers land on the the most recently released strip has its advantages, and readers that desire a limited connection will still have the archive page to visit)
            </li>
        </ul>
        <p> 
            Originally, I had planned to include a sidebar that would include other ways of connecting with readers. 
            However, I felt it cluttered up the cleanliness of the design with little justification. 
            There are better ways to include these features without taking away from the key reasons people would visit: the comic itself.  
        </p>
        <h3>The Progress</h3>
        <p>
            In terms of design and development of how the comic strip pages will function, it is virtually in working order. 
            The only thing missing is the creation of content. 
            There are also some content-related features that will need to be implemented, as well (e.g. social share buttons, comic navigation, comments). 
            However, as a template of concept, I’m happy with how the progress is shaping up. 
        </p>
        <p>
           Also without content, my archive function will have to be delayed. I am in the process of making a concept. The same is true for my homepage, which was a solution I came up with more recently in order to tie the whole webcomic “ecosystem” together. Stay tuned for future developments (and the comic going live!).
        </p>
        <h3>The Presentation</h3>
        <div class='sl-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/mock1-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>First wireframe/mock-up of desktop version</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mock1-color-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>First mock-up in color</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mock2-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Revised mock-up of desktop version</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/midbreak-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(4)" class="hover-shadow cursor">
                    <p class='cap'>Mock-up of mid-break version of mobile responsive design</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mobile-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(5)" class="hover-shadow cursor">
                    <p class='cap'>Mock-up of mobile version of mobile responsive design</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/live-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(6)" class="hover-shadow cursor">
                    <p class='cap'>Screenshot of desktop version of live site</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/live-mobile-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(7)" class="hover-shadow cursor">
                    <p class='cap'>Screenshot of mobile version of live site</p>
                </div>
            </div>

            <div id="mySLModal" class="modal">
                <span class="close cursor" onclick="closeSLModal()">&times;</span>
                <div class="modal-content">

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock1.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock1-color.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock2.png" style="width:100%">
                    </div>
                    
                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/midbreak.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mobile.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/live.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/live-mobile.png" style="width:100%">
                    </div>

                    
                    <a class="prev" onclick="slPlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="slPlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="sl-caption"></p>
                    </div>


                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock1-prev.png" style="width:100%" onclick="slCurrentSlide(1)" alt="Speak Louder first wireframe">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock1-color-prev.png" style="width:100%" onclick="slCurrentSlide(2)" alt="Speak Louder first mock-up color">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock2-prev.png" style="width:100%" onclick="slCurrentSlide(3)" alt="Speak Louder revised mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/midbreak-prev.png" style="width:100%" onclick="slCurrentSlide(4)" alt="Speak Louder midbreak mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mobile-prev.png" style="width:100%" onclick="slCurrentSlide(5)" alt="Speak Louder mobile mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/live-prev.png" style="width:100%" onclick="slCurrentSlide(6)" alt="Speak Louder desktop screenshot">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/live-mobile-prev.png" style="width:100%" onclick="slCurrentSlide(7)" alt="Speak Louder mobile screenshot">
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>