<div class='header-spacer'></div>  
<div class="bg-sl"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-header-container'>
      <div class='process-header-content'>
        <h1 class='process-name'>Speak Louder<br>Mobile-Responsive Webcomic</h1>
        <h2 class='process-name-sub'>UX/UI + Web Dev</h2>
      </div>
   </div>  
<div class='process-body'>
    <div class='process-content'>
        <h2 class='editing'>This page is currently being edited to provide a more thorough process. </h2>
        <div class='process-overview'>
        <div class='process-overview-section'>
        <h4 class='po-role'>Role</h4>
        <p class='po-p'>UX/UI design, visual design, and web development for a webcomic</p>
        <h4 class='po-function'>Project Function</h4>
        <p class='po-p'>Develop a webcomic platform for the modern web—mobile-responsive UI with unique personality and user-interactivity to bridge relationship between the cartoonist and readers.</p>
        <h4 class='po-duration'>Duration</h4>
        <p class='po-p'>Ongoing</p>
          </div>
        <div class='process-overview-section'>
          <h4 class='po-skills'>Skills &amp; Tools</h4>
          <ul class='po-ul'>
            <li class='po-li'>
              Wireframing &amp; Visual Design
            <ul>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Sketch</li>
            </ul>
            <li>User Research</li>
            <li>Web Development
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript, JQuery, NodeJS</li>
                    <li>GitHub &amp; Heroku</li>
                </ul>
            </li>
          </div>
          <div class='process-btn'>     
            <a href='http://www.speak-louder.com' target='_blank'><div class='ux-btn'>Live Prototype</div></a>
        </div>
      </div>
      <h3 class='process-head'>Project Overview</h3>
        <p>
            Webcomics are a great medium for creative folks to express themselves in amazing, immersive ways—without needing anything more than an idea and some artistic abilities. 
            There are thousands of different styles, genres, and layouts of webcomics available, and certainly something anyone can find enjoyment. 
            CMS templates have made it incredibly easy to avoid the technological challenges of sharing comics online, with ComicPress arguably being the most popular of such templates. 
            It really is quite simple to get one up and running without too much of a headache.
        </p>
        <h3 class='process-head'>Initial Research</h3>
        <p>
            As an avid follower of a handful of webcomics, the designs of the websites were always prominent aspect in my overall experience. 
            On top of that, I have had a desire to create my own webcomic at some point, so I have kept tabs on what features work in webcomic design and what features don’t. 
            In general, being heavily influenced by functionality of CMS templates (because, let’s face it, what cartoonist wants to learn to code?), overall design and elegance takes a back seat in most webcomics’ user experience. 
            There are always some issues with spacing and an overwhelming temptation to include as many widgets as possible. 
            But none of those are really a cause for alarm in experiencing the comic strips themselves, which leads to me to...
        </p>
        <h3 class='process-head'>The Problem</h3>
        <p>
            The vast majority of webcomics follow the same basic template: four or five panels of similar dimensions that stretch horizontally across the webpage. 
            Both sites that use a CMS and those that don’t follow this general pattern. Now that screen displays are no longer as consistent as the basic comic formula (due to heavy use of mobile displays), the problem became quite obvious: 
            there was no elegant solution for responsive webcomic design. 
            And as someone who has been in the process of conceptualizing a webcomic, myself, I knew I had to create a solution in order to satisfy my desire to make it readable on all device-types.
        </p>
        <h3 class='process-head'>Pain Points</h3>
        <ul>
            <li>
                No effective solution to read on mobile devices (without the patented “zoom and scroll”) —strip images remain the same size, regardless of display-type
            </li>
            <li>
                Some comics that are mobile-responsive shrink down to an unreadable size on mobile (even those that use a vertical layout, instead of horizontal)
            </li>
        </ul>
        <p>
           When comic strips are uploaded to websites, they tend to be a single image. 
           While it’s the simplest method, it limits any nuances for web page formatting, because the image likely takes up the majority of the page width real estate.  
           The flip side is that it allows the opportunity for more variety within the image itself—creative panel formatting, different arrangements, etc. 
           Generally, if readers are willing to make concessions (such as optimized reading on wide displays only), then it’s a relative non-issue. 
           However, with web usage shifting in favor of mobile over desktop in 2018, it really isn’t something that can be ignored.
        </p>
        <h3 class='process-head'>True Mobile-Responsive Formatting</h3>
        <p> 
           Creating a platform that can be optimized on mobile devices required designing and developing mobile-first. 
           With that in mind, naturally, a vertical arrangement of the comic panels would be the layout. 
           I also decided that a clean, uniform, four-panel layout would best serve my purposes. 
           However, I also considered having the ability to scale it to five or six panels, if I desired (any more would require panels dimensions to be altered too much to work). 
        </p>
        <p> 
           To optimize the reading experience depending on the device, it is important to implement responsive breakpoints. 
           For the mid-breakpoint, stacking two panels on top of two panels makes the most sense for vertical tablet displays. 
           When positioned horizontally, the final breakpoint will be displayed (just as it would on desktop). 
           This way, the text in the panels will never be too small to read and the images will cover as much real webpage real estate as possible.
        </p>
        <h3 class='process-head'>Clean Design Update</h3>
        <p>
            Initially, I had designed the comic pages to include sidebars that would give readers the opportunity to connect more to me as a cartoonist—via social media or sharing some of my latest musical tastes. 
            However, the more I experienced other webcomics (and blog sites), all that extraneous content felt like clutter and takes away from the focus of the actual content.
        </p>
        <p>
           Cleaning up the general visual design followed soon after. 
           Having the logo slightly tilted proved to be much too difficult to implement, and ultimately not wasn’t worth the effort. 
           I decided to focus only on the wordmark as the logo and simplified the rest.
        </p>
        <h3 class='process-head'>Intimate Homepage</h3>
        <p>
            Possibly the biggest challenge in tying everything together was creating an effective homepage to work for my intention of webcomic. 
            Many webcomics are released in the classic “dailies” style, with a set schedule on a consistent basis. 
            On my platform, I intend to release my content, when time permits, as complete storylines and all at once. 
            This falls in line with the release schedules of online streaming television and binge culture.
        </p>
        <p>
           The problem with this method is that a consistent schedule brings people back organically and helps build a community from reliability. 
           Without that luxury in my vision, building my persona as a creator, and building a genuine and transparent connection with my readers will keep them engaged. 
           I want dialogue through communication that could possibly inform and inspire where characters and stories can go.
        </p>
        <p>
           With that said, establishing this persona and atmosphere on the homepage was the idea to create this type of experience from the start. 
           Typically the homepage of webcomics tend to be the most recently released comic strip.  
           Since that wouldn’t work for my purposes, I created a letter to the readers, along with a table of contents-type menu.
        </p>
        <h3 class='process-head'>Reader Interaction</h3>
        <p>
            While my intent is to build a relationship with my readers, this isn’t a revolutionary idea. 
            Many webcomic creators do this to varying degrees, but what will set my platform apart is the extent of my engagement. 
            Most webcomics still operate in the printed comic mentality—static strips without much room to break out creatively. 
            I want to create a platform that utilizes the web medium in interesting ways. 
            Besides encouraging dialogue and communication with my readers, I want to create an experience where they come to expect something different than other comics they consume.
        </p>
        <p>
           On the first release, I will have the opportunity for comic panels to be clicked to offer something that would be impossible for a static experience. 
           The origin of this ideas was that a click could reveal a character’s inner thoughts. 
           However, it wouldn’t have to be limited to only that. 
           This could potentially allow alternate visual angles of the scene, a strip could have additional beats, or there could be an alternate outcome. 
           It completely opens up the experience to more creativity.
        </p>
        <h3 class='process-head'>Reflection</h3>
        <p>
            This platform is the project that got me fully invested in web design and development, because I had an ambitious idea that didn’t fit any of the templated models available to me. 
            With it largely designed and programmed, I feel extremely proud of the outcome. 
            Granted, there are some minor functionality tweaks I still have to iron out. 
            The real challenge now, however, is actually producing a fun and engaging story for readers to keep coming back to and engage with me as a creator. 
            Stay tuned!

        </p>
        <h3>The Presentation</h3>
        <div class='sl-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/mock1-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>First wireframe/mock-up of desktop version</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mock1-color-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>First mock-up in color</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mock2-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Revised mock-up of desktop version</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/midbreak-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(4)" class="hover-shadow cursor">
                    <p class='cap'>Mock-up of mid-break version of mobile responsive design</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/mobile-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(5)" class="hover-shadow cursor">
                    <p class='cap'>Mock-up of mobile version of mobile responsive design</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/live-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(6)" class="hover-shadow cursor">
                    <p class='cap'>Screenshot of desktop version of live site</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/live-mobile-prev.png" style="width:100%" onclick="openSLModal();slCurrentSlide(7)" class="hover-shadow cursor">
                    <p class='cap'>Screenshot of mobile version of live site</p>
                </div>
            </div>

            <div id="mySLModal" class="modal">
                <span class="close cursor" onclick="closeSLModal()">&times;</span>
                <div class="modal-content">

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock1.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock1-color.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mock2.png" style="width:100%">
                    </div>
                    
                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/midbreak.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/mobile.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/live.png" style="width:100%">
                    </div>

                    <div class="mySLSlides">
                        <img src="/images/web-dev/process/live-mobile.png" style="width:100%">
                    </div>

                    
                    <a class="prev" onclick="slPlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="slPlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="sl-caption"></p>
                    </div>


                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock1-prev.png" style="width:100%" onclick="slCurrentSlide(1)" alt="Speak Louder first wireframe">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock1-color-prev.png" style="width:100%" onclick="slCurrentSlide(2)" alt="Speak Louder first mock-up color">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mock2-prev.png" style="width:100%" onclick="slCurrentSlide(3)" alt="Speak Louder revised mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/midbreak-prev.png" style="width:100%" onclick="slCurrentSlide(4)" alt="Speak Louder midbreak mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/mobile-prev.png" style="width:100%" onclick="slCurrentSlide(5)" alt="Speak Louder mobile mock-up">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/live-prev.png" style="width:100%" onclick="slCurrentSlide(6)" alt="Speak Louder desktop screenshot">
                    </div>
                    <div class="column">
                        <img class="sl-demo cursor" src="/images/web-dev/process/live-mobile-prev.png" style="width:100%" onclick="slCurrentSlide(7)" alt="Speak Louder mobile screenshot">
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div id='contact-container'>
        <div class='contact'>
            <a name='contact-anchor'>
                <h2>let&#146;s connect</h2>
            </a>
            <div class='contact-wrap'>
                <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                    <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
                </a>
                <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="tel:608-790-7675">
                    <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
                </a>
                <p class='contact-text'>(608) 790-7675</a>
                </p>
            </div>
            <div class='contact-wrap'>
                <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                    <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
                </a>
            </div>
        </div>

    </div>
</div>