<div class='header-spacer'></div>
<div class="bg-sm"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-header-container'>
    <div class='process-header-content'>
        <h1 class='process-name'>Show Me<br>Live Event Suggestion App</h1>
        <h2 class='process-name-sub'>UX/UI</h2>
    </div>
</div>
<div class='process-body'>
    <div class='process-content'>
        <h2 class='editing'>This page is currently being edited to provide a more thorough process. </h2>
        <div class='process-overview'>
            <div class='process-overview-section'>
                <h4 class='po-role'>Role</h4>
                <p class='po-p'>UX/UI design and visual design for a live event suggestion app</p>
                <h4 class='po-function'>Project Function</h4>
                <p class='po-p'>Develop a live event suggestion mobile app primarily for last-minute music, comedy, and theater shows with tickets under $50, based on the user’s individual tastes and preferences.</p>
                {{!-- <h4 class='po-duration'>Duration</h4>
                <p class='po-p'>Ongoing</p> --}}
            </div>
            {{!-- <div class='process-overview-section'>
                <h4 class='po-skills'>Skills &amp; Tools</h4>
                <ul class='po-ul'>
                    <li class='po-li'>
                        Wireframing &amp; Visual Design
                        <ul>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                        </ul>
                    <li>Research</li>
            </div> --}}
            {{!-- <div class='process-btn'>
                <a href='http://werdzahn.herokuapp.com' target='_blank'>
                    <div class='ux-btn-w-note'>Live Prototype</div>
                </a>
                <p class='ux-btn-note'>of Version 1</p>
            </div> --}}
        </div>
        <h3 class='process-head'>Project Overview</h3>
        <p>
            Show Me is a live event suggestion app, primarily focused on providing options for events under $50. 
            For people who like to go to concerts, see comedy, and watch live theater, this serves as a resource for last minute suggestions that won't feel like a large investment. 
            If a person suddenly has a free evening, they're likely not going buy a last minute ticket to the Beyonce concert that costs $200, but they might want to see an up and coming indie band for $20. 
            This gives exposure to some of the smaller, more intimate shows that they might not have otherwise considered. 
            Suggestions would be based on artists/genres similar to what a user selects when signing up.
        </p>
        <div class='ui-examples'>
            <div class='mobile-app'>
                <h3>Mobile App</h3>
                <div id="photos">
                    <div id="photo-gallery">
                        <div class='process-image'>
                            <a href="/images/web-dev/process/sm/showme-getstarted.png" data-lightbox="sm-1"
                                data-title="Login Screen">

                                <img src="/images/web-dev/process/sm/showme-getstarted.png"> </a>

                            <p class='cap'>Login/Signup Screen</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/sm/showme-home-suggested.png" data-lightbox="sm-1"
                                data-title="Home - Suggested Screen">

                                <img src="/images/web-dev/process/sm/showme-home-suggested.png"></a>

                            <p class='cap'>Home - Suggested Screen</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/sm/showme-home-concerts.png" data-lightbox="sm-1"
                                data-title="Home - Concerts Screen">

                                <img src="/images/web-dev/process/sm/showme-home-concerts.png"></a>
                            <p class='cap'>Home - Concerts Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/sm/showme-search.png" data-lightbox="sm-1"
                                data-title="Search Screen">

                                <img src="/images/web-dev/process/sm/showme-search.png"></a>
                            <p class='cap'>Search Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/sm/showme-calendar.png" data-lightbox="sm-1"
                                data-title="Calendar Screen">

                                <img src="/images/web-dev/process/sm/showme-calendar.png"></a>
                            <p class='cap'>Calendar Screen</p>

                        </div>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id='contact-container'>
    <div class='contact'>
        <a name='contact-anchor'>
            <h2>let&#146;s connect</h2>
        </a>
        <div class='contact-wrap'>
            <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
            </a>
            <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="tel:608-790-7675">
                <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
            </a>
            <p class='contact-text'>(608) 790-7675</a>
            </p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
            </a>
        </div>
    </div>

</div>
</div>