<div class='header-spacer'></div>
<div class="bg-tfd"></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-header-container'>
    <div class='process-header-content'>
        <h1 class='process-name'>Toons for Days<br>Cartoon Social Media App</h1>
        <h2 class='process-name-sub'>UX/UI</h2>
    </div>
</div>
<div class='process-body'>
    <div class='process-content'>
        <h2 class='editing'>This page is currently being edited to provide a more thorough process. </h2>
        <div class='process-overview'>
            <div class='process-overview-section'>
                <h4 class='po-role'>Role</h4>
                <p class='po-p'>UX/UI design and visual design for a social media app concept for cartoonists and fans.
                </p>
                <h4 class='po-duration'>Duration</h4>
                <p class='po-p'>Ongoing</p>
            </div>
            <div class='process-overview-section'>
                <h4 class='po-skills'>Skills &amp; Tools</h4>
                <ul class='po-ul'>
                    <li class='po-li'>
                        Wireframing &amp; Visual Design
                        <ul>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                        </ul>
                    <li>Research</li>
            </div>
            {{!-- <div class='process-btn'>
                <a href='http://werdzahn.herokuapp.com' target='_blank'>
                    <div class='ux-btn-w-note'>Live Prototype</div>
                </a>
                <p class='ux-btn-note'>of Version 1</p>
            </div> --}}
        </div>
        <div class='ui-examples'>
            <div class='mobile-app'>
                <h3>Mobile App</h3>
                <div id="photos">
                    <div id="photo-gallery">
                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-signin.png" data-lightbox="tfd-1"
                                data-title="Desktop Home Page">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-signin.png"> </a>

                            <p class='cap'>Desktop Home Page</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-home.png" data-lightbox="tfd-1"
                                data-title="Login Screen">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-home.png"></a>

                            <p class='cap'>Login Screen</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-search.png" data-lightbox="tfd-1"
                                data-title="Home Screen">
                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-search.png"></a>
                            <p class='cap'>Home Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-new-toon.png" data-lightbox="tfd-1"
                                data-title="Submit New Toon Screen">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-new-toon.png"></a>
                            <p class='cap'>Submit New Toon Screen</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-profile-mytoons.png" data-lightbox="tfd-1"
                                data-title="Profile Screen - My Toons">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-profile-mytoons.png"></a>
                            <p class='cap'>Profile Screen - My Toons</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-profile-favorites.png" data-lightbox="tfd-1"
                                data-title="Profile Screen - Favorite Toons">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-profile-favorites.png"></a>
                            <p class='cap'>Profile Screen - Favorite Toons</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/tfd/tfd-mobile-app-profile-following.png" data-lightbox="tfd-1"
                                data-title="Profile Screen - Following Toonists">

                                <img src="/images/web-dev/process/tfd/tfd-mobile-app-profile-following.png"></a>
                            <p class='cap'>Profile Screen - Following Toonists</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id='contact-container'>
    <div class='contact'>
        <a name='contact-anchor'>
            <h2>let&#146;s connect</h2>
        </a>
        <div class='contact-wrap'>
            <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
            </a>
            <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="tel:608-790-7675">
                <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
            </a>
            <p class='contact-text'>(608) 790-7675</a>
            </p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
            </a>
        </div>
    </div>

</div>
</div>