<div class='header-spacer'></div>
<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div id='process-hero-container'>
    <div class='process-hero-content'>
        <h1 class='process-name'>Werdzahn<br>Entertainment + Culture Blog</h1>
        <h2 class='process-name-sub'>UX/UI + Web Dev</h2>
    </div>
</div>
<div class='process-content-container'>
<div class='process-body'>
    <div class='process-content'>
        <h2 class='editing'>This page is currently being edited to provide a more thorough process. </h2>
        <div class='process-overview'>
            <div class='process-overview-section'>
                <h3 class='tldr'>Long Story Short</h3>
                <h4 class='po-role'>Role</h4>
                <p class='po-p'>UX/UI design, visual design, and web development for an entertainment blog</p>
                <h4 class='po-function'>Project Function</h4>
                <p class='po-p'>Develop an entertainment blog that is driven by the writer’s personality, bringing insight and intimacy to readers (from both written and visual content) not found in many blogs.</p>    
                {{!-- <h4 class='po-duration'>Duration</h4>
                <p class='po-p'>Ongoing</p> --}}
            </div>
            {{!-- <div class='process-overview-section'>
                <h4 class='po-skills'>Skills &amp; Tools</h4>
                <ul class='po-ul'>
                    <li class='po-li'>
                        Wireframing &amp; Visual Design
                        <ul>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                            <li>Sketch</li>
                        </ul>
                    <li>User Research</li>
                    <li>Web Development
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript, JQuery, NodeJS</li>
                            <li>GitHub, Heroku</li>
                        </ul>
                    </li>
            </div> --}}
            <div class='process-btn'>
                <a href='http://werdzahn.herokuapp.com' target='_blank'>
                    <div class='ux-btn'>Live Prototype</div>
                </a>
                {{!-- <p class='ux-btn-note'>of Version 1</p> --}}
            </div>
        </div>
        <h3 class='process-head'>Project Overview</h3>
        <p>
            
        </p>
        <div class='ui-examples'>
            <div class='werdzahn-v1'>
                <h3>Version 1</h3>
                 <div class='process-list'>
                <div class='des-container'>
                    <a href="/images/web-dev/process//werdzahn/werdzahn-home-desktop.png" data-effect="mfp-zoom-in" title="Desktop Home Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-home-desktop-prev.png" />
                    </a>
                    <p class='cap'>Desktop Home Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-article-desktop.png" data-effect="mfp-zoom-in" title="Desktop Article Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-article-desktop-prev.png" />
                    </a>
                    <p class='cap'>Desktop Article Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-home-mobile.png" data-effect="mfp-zoom-in" title="Mobile Home Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-home-mobile-prev.png" />
                    </a>
                    <p class='cap'>Mobile Home Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-article-mobile.png" data-effect="mfp-zoom-in" title="Mobile Article Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-article-mobile-prev.png" />
                    </a>
                    <p class='cap'>Mobile Article Page</p>
                </div>
            </div>
                {{!-- <div id="photos">
                    <div id="photo-gallery">
                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-home-desktop.png" data-lightbox="werdzahn-1"
                                data-title="Desktop Home Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-home-desktop-prev.png"> </a>

                            <p class='cap'>Desktop Home Page</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-article-desktop.png" data-lightbox="werdzahn-1"
                                data-title="Desktop Article Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-article-desktop-prev.png"></a>

                            <p class='cap'>Desktop Article Page</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-home-mobile.png" data-lightbox="werdzahn-1"
                                data-title="Mobile Home Page">
                                <img src="/images/web-dev/process/werdzahn/werdzahn-home-mobile-prev.png"></a>
                            <p class='cap'>Mobile Home Page</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-article-mobile.png" data-lightbox="werdzahn-1"
                                data-title="Mobile Article Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-article-mobile-prev.png"></a>
                            <p class='cap'>Mobile Article Page</p>

                        </div>

                    </div>

                </div> --}}
            </div>
            <div class='werdzahn-v2'>
                <h3>Version 2</h3>
                <div class='process-list'>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-home-desktop-v2.png" data-effect="mfp-zoom-in" title="Desktop Home Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-home-desktop-v2-prev.png" />
                    </a>
                    <p class='cap'>Desktop Home Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-article-desktop-v2.png" data-effect="mfp-zoom-in" title="Desktop Article Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-article-desktop-v2-prev.png" />
                    </a>
                    <p class='cap'>Desktop Article Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-home-mobile-v2.png" data-effect="mfp-zoom-in" title="Mobile Home Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-home-mobile-v2-prev.png" />
                    </a>
                    <p class='cap'>Mobile Home Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-article-mobile-v2.png" data-effect="mfp-zoom-in" title="Mobile Article Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-article-mobile-v2-prev.png" />
                    </a>
                    <p class='cap'>Mobile Article Page</p>
                </div>
                <div class='des-container'>
                    <a href="/images/web-dev/process/werdzahn/werdzahn-home-tablet-v2.png" data-effect="mfp-zoom-in" title="Tablet Home Page">
                    <img class='process-image' src="/images/web-dev/process/werdzahn/werdzahn-home-tablet-v2-prev.png" />
                    </a>
                    <p class='cap'>Tablet Home Page</p>
                </div>
            </div>
                {{!-- <div id="photos">
                    <div id="photo-gallery">
                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-home-desktop-v2.png" data-lightbox="werdzahn-2"
                                data-title="Desktop Home Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-home-desktop-v2-prev.png"> </a>

                            <p class='cap'>Desktop Home Page</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-article-desktop-v2.png" data-lightbox="werdzahn-2"
                                data-title="Desktop Article Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-article-desktop-v2-prev.png"></a>

                            <p class='cap'>Desktop Article Page</p>

                        </div>

                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-home-mobile-v2.png" data-lightbox="werdzahn-2"
                                data-title="Mobile Home Page">
                                <img src="/images/web-dev/process/werdzahn/werdzahn-home-mobile-v2-prev.png"></a>
                            <p class='cap'>Mobile Home Page</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-article-mobile-v2.png" data-lightbox="werdzahn-2"
                                data-title="Mobile Article Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-article-mobile-v2-prev.png"></a>
                            <p class='cap'>Mobile Article Page</p>

                        </div>
                        <div class='process-image'>
                            <a href="/images/web-dev/process/werdzahn/werdzahn-home-tablet-v2.png" data-lightbox="werdzahn-2"
                                data-title="Tablet Home Page">

                                <img src="/images/web-dev/process/werdzahn/werdzahn-home-tablet-v2-prev.png"></a>
                            <p class='cap'>Tablet Home Page</p>

                        </div>
                    </div>

                </div> --}}
            </div>
        </div>
    </div>
</div>
{{!-- <div id='contact-container'>
    <div class='contact'>
        <a name='contact-anchor'>
            <h2>let&#146;s connect</h2>
        </a>
        <div class='contact-wrap'>
            <a class='contact-link' href="mailto:jacob.kim.johnson@gmail.com">
                <img class='contact-icon' src="/images/icons/email.png" alt="email icon" />
            </a>
            <p class='contact-text'>jacob.kim.johnson@gmail.com</p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="tel:608-790-7675">
                <img class='contact-icon' src="/images/icons/phone.png" alt="phone icon" />
            </a>
            <p class='contact-text'>(608) 790-7675</a>
            </p>
        </div>
        <div class='contact-wrap'>
            <a class='contact-link' href="https://www.linkedin.com/in/jacobkimjohnson/" target='_blank'>
                <img class='contact-icon' src="/images/icons/linkedin.png" alt="linkedin icon" />
            </a>
        </div>
    </div>

</div>
</div> --}}