<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h2><i>Words to Song</i> Process</h2>
        <h3>The Proposal</h3>
        <p>
           I had initially used WordPress for my portfolio before I decided to become more proficient in web development. 
           While it fulfilled my needs to an extent, I felt building a portfolio site from scratch to incorporate my development abilities would make more sense. 
        </p>
        <h3>The Process</h3>
        <p>
            I basically took the general layout of the WordPress template that I had used and made it cleaner. 
            Built using the Express framework for Node.js, I decided keeping the most of the content to a single page would be the way to go (unlike the WordPress template).
        </p>
        <p>
            To keep from having to send users to a new page to view the portfolio items, I decided to incorporate a JavaScript menu to toggle the content depending on the category (development, design, or illustrations). 
            Furthermore, I used Lightbox to display the images. 
        <p>
            Rounding out my JavaScript usage, I added a back to top button and incorporated smooth scrolling to target with JQuery. 
        </p>
        <h3>The Progress</h3>
        <p>
            This site is fully functioning the way I had intended. 
            I decided the original color scheme wasn't working for me, so I made some updates to use a palette that felt more "me."
            Outside of the addition of new examples of work, as well as some flashier interactivities in the future, I’m satisfied with how it turned out. 
        </p>
        <h3>The Presentation</h3>
        <div class='wts-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/wts-wireframe-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>Wireframe of website</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/wts-live-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>Live screenshot of website</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/wts-color-update-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Live screenshot with color update</p>
                </div>
            </div>

            <div id="myWTSModal" class="modal">
                <span class="close cursor" onclick="closeWTSModal()">&times;</span>
                <div class="modal-content">

                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-wireframe.png" style="width:100%">
                    </div>

                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-live.png" style="width:100%">
                    </div>
                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-color-update.png" style="width:100%">
                    </div>


                    
                    <a class="prev" onclick="wtsPlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="wtsPlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="wts-caption"></p>
                    </div>


                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-wireframe-prev.png" style="width:100%" onclick="wtsCurrentSlide(1)" alt="Words to Song wireframe">
                    </div>
                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-live-prev.png" style="width:100%" onclick="wtsCurrentSlide(2)" alt="Words to Song live screenshot">
                    </div>
                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-color-update-prev.png" style="width:100%" onclick="wtsCurrentSlide(3)" alt="Words to Song color update">
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>