<a id="toTop" title="Go to top" class="smoothScroll" href="#top-anchor">&#94;</a>
<div class='process-body'>
    <div class='process-content'>
        <h2><i>Words to Song</i> Process</h2>
        <h3>The Prep</h3>
        <p>
           Every designer needs a portfolio! 
           I had initially used WordPress before I decided to become more proficient in web development. 
           While it fulfilled my needs to an extent, I felt building a portfolio site from scratch to incorporate my UX/UI and development skills would be beneficial. 
           Incidentally, while it’s easier to be flashier with a WordPress (with animations), CMS templates have limitations that frustrate me as a designer which can cause confusing in the user experience.  
        </p>
        <h3>The Plan</h3>
        <p>
            Clean design is my mantra. I decided that a (pseudo) single-page design was most effective as a framework. 
            To keep from having to send users to a new page to view the portfolio items, I incorporated a JavaScript menu to toggle the content depending on the category (UX/UI/development, design, or illustrations).
        </p>
        <p>
            Additional process details would be best on external pages, if visitors felt inclined to know the inner-workings. 
            The hope is to create a frustration-free design with intuitive user flow. 
        <h3>The Progress</h3>
        <p>
            This site is fully functioning the way I had intended. 
            The original color scheme(black and cyan) wasn't working for me, as it felt too cold, which goes against everything I want in a color scheme.
            After serious consideration, and the testing of various color combinations, I went with colors that felt more representative of me (dark combo green-blue, sky blue, and cream).
        </p>
        <p>
            In addition to a warmer colors, I decided to cut down on as many words, to make the experience friendlier and have more personality.  
            As I produce more content, the examples of work will continue to be updated, as well as the addition to flashier interactivities in the future. 
            Overall, though, I’m satisfied with how it turned out.
        </p>
        <h3>The Presentation</h3>
        <div class='wts-list'>
            <div class="row">
                <div class="column">
                    <img src="/images/web-dev/process/wts-wireframe-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(1)" class="hover-shadow cursor">
                    <p class='cap'>Wireframe of website</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/wts-live-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(2)" class="hover-shadow cursor">
                    <p class='cap'>Live screenshot of website</p>
                </div>
                <div class="column">
                    <img src="/images/web-dev/process/wts-color-update-prev.png" style="width:100%" onclick="openWTSModal();wtsCurrentSlide(3)" class="hover-shadow cursor">
                    <p class='cap'>Live screenshot with color update</p>
                </div>
            </div>

            <div id="myWTSModal" class="modal">
                <span class="close cursor" onclick="closeWTSModal()">&times;</span>
                <div class="modal-content">

                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-wireframe.png" style="width:100%">
                    </div>

                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-live.png" style="width:100%">
                    </div>
                    <div class="myWTSSlides">
                        <img src="/images/web-dev/process/wts-color-update.png" style="width:100%">
                    </div>


                    
                    <a class="prev" onclick="wtsPlusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="wtsPlusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                        <p id="wts-caption"></p>
                    </div>


                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-wireframe-prev.png" style="width:100%" onclick="wtsCurrentSlide(1)" alt="Words to Song wireframe">
                    </div>
                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-live-prev.png" style="width:100%" onclick="wtsCurrentSlide(2)" alt="Words to Song live screenshot">
                    </div>
                    <div class="column">
                        <img class="wts-demo cursor" src="/images/web-dev/process/wts-color-update-prev.png" style="width:100%" onclick="wtsCurrentSlide(3)" alt="Words to Song color update">
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>