html,
body {
  height: 100%;
}

.header-image {
  z-index: 100;
  position: fixed;
  width: 100%;
  background: #EBF4F4;
  padding: 10px;
  border-bottom: 1px solid rgb(94, 94, 94, 0.5);
}

.hidden-head {
  padding: 20px;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

#toTop {
  font-family: 'forum', 'courier new';
  font-size: 30px;
  height: 25px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: transparent;
  color: #0B364E;
  cursor: pointer;
  /* padding: 15px;
  border-radius: 10px; */
}

#toTop:hover {
  color: #D6E9EA;
  transition: 0.3s;
}

#headContact {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  letter-spacing: 1;
}

#headContact:hover {
  color: rgba(255,255,255,1)
}

#header-contact-btn {
  display: block;
  margin: 10px auto 0;
  background-color: #D6E9EA;
  color:#0B364E;
  width:86px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'avenir';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 16px;
}

#header-contact-btn:hover {
  color: #D6E9EA;
  background: #0B364E;
  border: none;
  transition: 0.3s; 
} 

h2 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'avenir';
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

h3 {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'avenir';
  font-weight: 400;
}

p,
li {
  font-family: 'avenir';
  font-size: 14px;
  line-height: 1.75;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

blockquote {
  font-family: 'avenir';
  line-height: 1.5;
  color: #0B364E;
}

sup {
  font-size: 60%;
}

#last {
  margin-bottom: 0;
}

.mobile-logo {
  display:block;
  width: 165px;
  margin:auto;
}

/* .mobile-logo img {
  padding: 10px 0;
} */

.logo {
  display: none;
  width: 270px;
  margin: auto;
}

.top-section {
  position: fixed;
  z-index: 1;
  width:100%;
}

.bottom-section {
  height: 800px;
  z-index: 2;
  position: relative;
}


nav ul {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
/* 
nav li {
  background: #1b3449;
  margin: 10px 5px 5px 5px;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  color: #99e5ff;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 900;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, .1) 4px 8px 17px;
  ;
} */

/* nav li a {
  color: #99e5ff;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 900;
  font-size: 20px;
} */

/* nav li:hover {
  background: #99e5ff;
  color: #1b3449;
  transition: 0.3s;
} */

/* #about-container {
  padding: 20px;
} */

#home-container {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EBF4F4;
}

.home-content {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

/* #blurCanvasTop{
  left:0%;
  top:0%;
  position:absolute;
}
#blurCanvasBottom{
  left:50%;
  top:0;
  position:absolute;
} */

.container  {
  width:100%;
  height:100%;
  position:absolute;
}
h1.title {
  font-family: avenir;
  color:white;
  font-size: 4vw;
  display:inline;
  font-weight:500;
}
.desc{
  font-family: 'avenir';
  position:relative;
  width:100%;
  font-size:30px;
  color:#0B364E;
  font-weight: 600;
  margin-bottom:25px;
  line-height: 1.5;
}
p.construction{
  margin: 25px;
  text-align: center;
  font-size:12px;
  color:#0B364E;
}
/* .nav {
  position:relative;
  right:0%;
  bottom:0;
  margin-bottom:1vw;
  margin-right:1vw;
  padding: 0;
} */

.nav {
  position: relative;
  padding-left: 0;
}
.nav li {
  list-style-type:none;
  /* float:left; */
  color:#0B364E;
  font-weight:100;
  font-size:17px;
}
.nav li a {
  display: block;
  margin: 25px auto;
  background-color: #D6E9EA;
  color:#0B364E;
  width:86px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'avenir';
  font-size: 14px;
  font-weight: 600;
  border-radius: 16px;
  /* font-family: 'avenir';
  letter-spacing: 1;
  text-decoration:none;
  color:#0B364E; */
}
.nav li a:hover{
  color: #D6E9EA;
  background: #0B364E;
  border: none;
  transition: 0.3s; 
  /* color:rgba(255,255,255,1); */
}
/* .nav li~li {
  margin-left:2vw; 
} */
.blur {
  display:none;
  /* width:100%;
  height:100%;
  position:absolute;
  overflow:hidden; */
} /*
.blurTop{
  left:40%;
  top:-110%;
  transform:rotate(20deg);
  transform-origin: 0 100%;
}
.blurBottom{
  left:-60%;
  top:100%;
  transform:rotate(20deg);
  transform-origin: 100% 0%;
} */


.name-wrapper {
  max-width: 580px;
  margin: auto;
  margin-bottom: 20px;
}

.name {
  font-family: 'avenir';
  font-weight: bold;
  color: #0B364E;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
}

.name-sup,
.name-sub {
  max-width: 500px;
  line-height: 1.75;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'avenir';
  font-weight: 400;
  margin: auto;
  font-size: 20px;
  display: block;
  text-align: center;
}

/* rotating text*/

.job-titles {
  color: #0B364E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 25px;
  display: block;
}

#rotate {
  display: inline;
}

.job {
  display: inline;
}

.headshot,
.phil-icon,
.res-icon,
.des-icon {
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 20px;
  border-radius: 50%;
}

.phil-icon,
.des-icon {
  margin-bottom: 40px;
}

#desk-phil,
#desk-skill {
  display: none;
}

.bio-overview,
.res-overview,
.dev-list {
  margin-top: 20px;
}

.res-overview p,
.des-list p {
  margin: 0;
  color: #0B364E;
}

.indent {
  text-indent: 0.8em;
}

.wts-title,
.act-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.phil-title,
.gtk-title,
.sum-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.gtk-title {
  margin-bottom:0;
}

#about-container {
  background: #F7F7F5;
  font-family: 'avenir';
  padding: 20px;
  clear: left;
  line-height: 1.5;
  z-index: 2;
  border-top: 1px solid rgb(27, 52, 73, 0.5);
  border-bottom: 1px solid rgb(27, 52, 73, 0.5);
}

.about {
  color: #0B364E;
  margin: auto;
  width: 90%;
  max-width: 900px;
}

.freetime-activities {
  font-family: 'avenir';
  text-align: center;
}

.activity {
  width: 157px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.act-icon {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 50px;
}

.act-name {
  text-align: center;
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
}

.desk-text-ani {
  display: none;
}

#resume-container {
  /* color: #fff; */
  font-family: 'avenir';
  padding: 20px;
  clear: left;
  background: #EFEFEC;
  line-height: 1.5;
  /* z-index:2; */
}

.resume {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

a.about-anchor1,
a.resume-anchor1,
a.portfolio-anchor1 {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

#resume-container h2,
#resume-container h3,
#resume-container h4,
#resume-container ul,
.resume-p,
.background {
  color: #0B364E;
  /* text-align: center; */
}

.resume-p {
  text-align: center;
}

.background {
  font-size: 20px;
  text-align: center;
}

.linkedpdf {
  /* background: #D6E9EA;  */
  text-align: center;
  /* padding: 20px; */
  margin-bottom: 20px;
  /* max-width:300px;
  margin:10px auto; */
}

.resume-btn {
  display: block;
  margin: 0 auto 5px;
  background: #0B364E;
  color:#F7F7F5;
  width:130px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'avenir';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 20px;
}

.resume-btn:hover {
  background: #e0e0e0;
  color: #0B364E;
  transition: 0.3s;
}

.text-only {
  color: #D16861;
  font-weight: 500;
}

.text-only:hover {
  color:#0B364E;
  transition: 0.3s;
}

.gig {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.gig-sub {
  color:#0B364E;
  margin-top:0px;
  font-size: 18px;
  text-align: center
}

.gig-head,
.gtk-head {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.highlights {
  margin-bottom: 20px;
}

.skills-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.parenthetical {
  text-align: center;
  color: #0B364E;
  margin-top: 0px;
  font-size:12px;
  font-weight: 400;
}

.skills {
  font-family: 'avenir';
  text-align: center;
}

.skill-type {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.skills-cat {
  width: 49%;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.skills-head {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.skills-subhead {
  margin: 0;
  font-size: 16px;
}

.skills-details {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #517d8c;
}

#portfolio-container {
  padding: 20px;
  color: #0B364E;
  background: #F7F7F5;
  border-top: 1px solid rgb(27, 52, 73, 0.5);
}

.portfolio {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

.port-sub {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

/* PORTFOLIO MENU */

.port-menu {
  padding: 0;
  list-style-type: none;
  margin: 20px auto;
  max-width: 900px;
}

.type-menu {
  /* background: #1b3449; */
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  /* color: #99e5ff; */
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-family: 'avenir';
  font-weight: 900;
  font-size: 20px;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, .1) 4px 8px 17px; */
}

#dev-drop {
  background: #0B364E;
  color: #F7F7F5;
}

#dev-drop:hover {
  background: #EFEFEC;
  color: #0B364E;
}

#vis-drop {
  background: #D16861;
  color: #F7F7F5;
}

#vis-drop:hover {
  background: #EFEFEC;
  color: #D16861;
}

#ill-drop {
  background: #D6E9EA;
  color: #0B364E;
}

#ill-drop:hover {
  background: #EFEFEC;
  color: #659DA0;
}

.type-title {
  margin: 0;
  font-size: 20px;
}

.examples-menu {
  padding: 10px 50px;
  color: black;
}

.examples {
  margin: 20px 0;
}

/* drop down menu */

.type-menu,
.examples-menu {
  list-style: none;
  padding: 0;
}

.inner {
  overflow: hidden;
  display: none;
}

.type-title {
  margin: .5em 0;
}

a.toggle {
  padding: 10px 50px;
  display: block;
  transition: .3s ease;
}

a.toggle:hover {
  background: #99e5ff;
  color: #0B364E;
  transition: 0.3s;
}

.port-menus {
  margin-top: 30px;
}

.dev-menu,
.des-menu,
.ill-menu {
  text-align: center;
  font-family: 'avenir';
  padding: 16px 8px;
}

.dev-menu .dev-port,
.des-menu .des-port,
.ill-menu .ill-port {
  display: none;
  text-align: center;
}

.dev-menu a.dev-burger,
.des-menu a.des-burger,
.ill-menu a.ill-burger {
  /* position: absolute;
  top: 0; */
  /* display:block;
  font-family: arial;
  /* font-weight: 500; */
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #000;
  padding: 16px 8px;
}

.dev-menu a.dev-burger:hover,
.des-menu a.des-burger:hover,
.ill-menu a.ill-burger:hover {
  background-color: #ffebd2;
  color: #0B364E;
  transition: 0.3s;
}

.dev-menu.responsive,
.des-menu.responsive,
.ill-menu.responsive {
  position: relative;
}

/* .menu.responsive .burger {
  position: absolute;
  right: 0;
  top: 0;
} */

.dev-menu.responsive .dev-port,
.des-menu.responsive .des-port,
.ill-menu.responsive .ill-port {
  float: none;
  display: block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overview {
  text-align: left;
  padding-top: 10px;
}

.sub-overview {
  text-align: left;
}

.site-list {
  list-style: none;
  margin: 0px auto;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.ux-btn-container {
  margin: 15px 0 25px 0;
}

.ux-btn-container a {
  text-decoration: none;
}

.ux-btn {
  display: block;
  margin: 25px auto;
  background-color: #0B364E;
  color:#F7F7F5;
  width:fit-content;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'avenir';
  font-size: 14px;
  font-weight: 600;
  border-radius: 16px;
  /* background: #0B364E;
  margin: 20px 0;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  color: #99e5ff;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'avenir';
  font-weight: 900;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, .1) 4px 8px 17px; */
}

.ux-btn-w-note {background: #0B364E;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  color: #99e5ff;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'avenir';
  font-weight: 900;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, .1) 4px 8px 17px;}

.ux-btn:hover, .ux-btn-w-note:hover {
  background: #D16861;
  border: none;
  transition: 0.3s; 
  /* background: #99e5ff;
  color: #0B364E;
  transition: 0.3s; */
}

.ux-btn-note {
  margin-top: 0;
}

/* NEW PORT MENU */


.site-list{
    margin: auto;
  }
  .site-list .dev-container, .site-list .des-container {
    display: inline-block;
    width: 100%;
    margin:10px;
    max-width: 425px;
  }
 .port-menu a {
    width: content-fit;
  }
  .img-wrap {
    position: relative;
  /*   margin-top: 50px; */
    width: 100%;
    height: 280px;
    overflow: hidden;
  }
  
  .caption-bg {
    background: #F7F7F5;
    height: 30px;
    width: inherit;
    position: absolute;
    top:208.5px;
  }
  
  .port-menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .img-wrap:hover .overlay {
    display: block;
    background: rgba(247, 247, 245, .80);
  }
  
  .port-menu img {
    position: absolute;
  /*   width: 500px;
    height: 300px; */
    left: 0;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-wrap:hover img {
    transform: scale(1.2);
  }
  
  .captext {
    font-family: 'avenir';
    color: #0B364E;
    position: absolute;
    width: inherit;
    left: 0;
    top: 190px;
    text-align: center;
    z-index: 2;
    transition: top .5s ease;
    /* text-shadow: 
    -1px -1px 0 #F7F7F5,  
    1px -1px 0 #F7F7F5,
    -1px 1px 0 #F7F7F5,
     1px 1px 0 #F7F7F5;  */
  }
  .captitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }
  .capsub {
    margin-top:0;
    font-size:16px;
    line-height: 0.3;
  }
  
  .img-wrap:hover .captext {
    top: 40px;
  }
  
  /* .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  } */
  
  /* .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  } */
  
  /* .container-image:hover .button {
    opacity: 1;
  } */
  

.cap {
  font-size: 14px;
  margin: 0;
}

.sl-container, .tfd-container, .werdzahn-container, .wts-container, .cbe-container, .cd-container, .sm-container {
  display: inline-block;
  width: 100%;
  max-width: 447px;
}

.web-image {
  max-width: 100%;
  /* max-width: 300px; */
  box-shadow: 1px 1px 5px #888888;
  transition: 0.3s;
}

.web-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.des-subhead {
  clear: left;
  text-align: center;
  margin: 10px;
  font-weight: 600;
  font-size: 25px;
  color: #0B364E
}

/* .des-subhead-logo {
  clear: left;
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
} */

.logo-list,
.digital-list,
.print-list,
.ill-list,
.sl-list,
.werdzahn-list,
.wts-list,
.cbe-list {
  text-align: center;
}

#contact-container {
  text-align: center;
  color: #0B364E;
  padding: 20px;
  background: #EBF4F4;
}

.contact {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

.contact h2 {
  color: #0B364E;
  padding-bottom: 40px;
}

.contact-wrap {
  margin-bottom: 20px;
}

.contact-text {
  color: #0B364E;
  font-family: 'avenir';
  font-size: 16px;
  font-weight: 400;
  font-weight: 600;
  margin: 0;
}

.contact-link {
  color: #0B364E;
  text-decoration: none;
}

.contact-icon {
  margin-bottom: 10px;
}

/* lightbox2 */

#photos img {
  max-width: 100%;
  box-shadow: 1px 1px 5px #888888;
  transition: 0.3s;
}

#photos img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#photo-gallery {
  list-style: none;
  margin: 0px auto;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.port-image {
  display: inline-block;
  width: 100%;
  max-width: 447px;
  /* padding: 10px; */
}
.port-image img {
  margin: 10px auto;
}

.port-image a {
  font-family: 'avenir';
}

/* body: after {
  content: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/close.png) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/loading.gif) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/prev.png) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/next.png);
  display: none;
} */

/* body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container>.nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/prev.png) left 48% no-repeat;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/next.png) right 48% no-repeat;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  letter-spacing: 1;
  font-size: 20px;
  font-family: 'avenir';
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  font-family: 'avenir';
  display: block;
  clear: left;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/src/images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
} */

/* LIGHTBOX */

/* * {
  box-sizing: border-box;
} */

/* .row > .column {
  padding: 0 8px;
} */

/* .row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  vertical-align: top;
} */

/* The Modal (background) */

/* .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0B364E;
} */

/* Modal Content */

/* .modal-content {
  position: relative; */
  /* background-color: #fefefe; */
  /* margin: auto;
  padding: 0;
  width: 90%;
  max-width: 900px;
} */

/* The Close Button */

/* .close {
  color: #ffebd2;
  position: fixed;
  width: 40px;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
  transition: 0.6s ease;
  border-radius: 5px;
}

.close:hover,
.close:focus { */
  /* color: #00aeef; */
  /* background-color: #99e5ff;
  color: #0B364E;
  text-decoration: none;
  cursor: pointer;
} */

/* .myLogoSlides,
.myDigitalSlides,
.myPrintSlides,
.mySLSlides,
.myWerdzahnSlides,
.myWTSSlides {
  display: none;
}

.myLogoSlides img,
.myDigitalSlides img,
.myPrintSlides img,
.mySLSlides img,
.myWerdzahnSlides img,
.myWTSSlides img {
  max-width: max-content;
}

.cursor {
  cursor: pointer
} */

/* Next & previous buttons */

/* .prev {
  left: 5;
}

.next {
  right: 5;
}

.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%; */
  /* width: auto; */
  /* padding: 16px; */
  /* margin-top: -50px; */
  /* color: #ffebd2;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */

/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */

/* .prev:hover,
.next:hover {
  background-color: #99e5ff;
  color: #0B364E;
} */

/* Number text (1/3 etc) */

/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* img {
  margin-bottom: -4px;
} */

.caption-container {
  text-align: center;
  background-color: #0B364E;
  padding: 2px 16px;
  color: white;
}

.logo-demo,
.digital-demo,
.print-demo,
.ill-demo,
.sl-demo,
.werdzahn-demo,
.wts-demo,
.cbe-demo {
  opacity: 0.6;
}

.active,
.logo-demo:hover,
.digital-demo:hover,
.print-demo:hover,
.ill-demo:hover,
.sl-demo:hover,
.werdzahn-demo:hover,
.wts-demo:hover,
.cbe-demo:hover {
  opacity: 1;
  transition: 0.3s;
}

img.hover-shadow {
  box-shadow: 1px 1px 5px #888888;
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.img-prev {
  margin: 0 !important;
}
.footer {
  position: relative;
}
.footer p {
  color: #0B364E;
  background: #EBF4F4;
  font-size: 12px;
  margin: 0;
  padding: 10px 60px;
  text-align: center;
  letter-spacing: 2px;
}

.contact-box {
  text-align: left;
  margin: auto;
  width: fit-content;
}

.contact .fa, 
.contact .fas, 
.contact .fab {
  vertical-align: text-bottom;
  font-size: 25px;
  padding-right: 8px;
}

.contact .fa:hover,
.contact .fas:hover,
.contact .fab:hover {
  color: #D16861;
  transition: 0.3s;
}

/* MAGNIFIC POPUP CUSTOM */

.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}


/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	/* -webkit-backface-visibility: hidden; */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}



/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}



/* aligns caption to center */
.mfp-title {
  font-family: 'avenir';
  text-align: center !important;
  padding: 6px 0 !important;
}

/* MAGNIFIC ZOOM */

/* .mfp-zoom-in { */
  
  /* start state */
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  .mfp-zoom-in .mfp-bg {
    opacity: 0;
	  transition: all 0.2s ease-out;
  }
  
  /* animate in */
  /* .mfp-ready { */
    .mfp-ready  .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    .mfp-ready .mfp-bg {
      opacity: 0.8;
    }
  
  
  /* animate out */
  /* .mfp-removing { */
    
    .mfp-removing .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    .mfp-removing .mfp-bg {
      opacity: 0;
    }
    
  /* } */
  
/* } */

/* Process Pages */

#process-hero-container {
  background: #0B364E;
  height: 500px;
  width: 100%;
  /*   min-height: 70%; */
  display: flex;
  position: fixed;
  z-index: -1;
}

.process-hero-content {
  top: 120;
  margin: auto;
  width: 90%;
  max-width: 900px;
}

.process-content-container {
  top:500px;
  position:relative;
  display:block;
  z-index:1;
}
.process-body {
  background: #F7F7F5;
}

.process-overview {
  color: #0B364E;
  background: #D6E9EA;
  margin-bottom: 40px;
  padding: 20px 40px;
  border-radius:8px;
}

.process-overview-section:nth-child(1) {
  padding-right: 20px;
}

.process-overview-section {
  display: inline-block;
  vertical-align: top;
}

.tldr {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.process-overview h4, .process-overview p {
  font-family: avenir;
}

.process-overview h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.process-overview p, .process-overview ul, .process-overview li{
  list-style: none;
}

.po-ul {
  padding: 0;
}

.process-content {
  color: #0B364E;
  padding: 20px 5% 0 5%;
}

.process-name {
  font-family: 'avenir';
  font-weight: bold;
  font-size: 30px;
  color: #EBF4F4;
  text-align: center;
  letter-spacing: 10px;
  margin: 0;
}

.process-name-sub,
.editing {
  font-size: 15px;
  padding: 0;
  text-align: center;
  letter-spacing: 4px;
  font-family: 'avenir';
  font-weight: 400;
  margin: 0;
  color: #EBF4F4;
}

.editing {
  font-size: 3vw;
  margin-bottom: 20px;
  letter-spacing: 2px !important;
  color: #0B364E;
}

.process-list {
  margin: auto;
  text-align: center;
}

.process-list .des-container {
  display: inline-block;
  text-align: center;
}

.process-image {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

/* .process-image img {
  margin: 0;
} */

.process-head {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.process-subhead {
  font-size: 18px;
  font-family: 'avenir';
  font-weight: 400;
  text-align: center;
}

.process-btn {
  text-align: center;
}

/* portfolio fade/zoom animation */

.grid figure {
  position: relative;
  /* float: left; */
  overflow: hidden;
  margin: 10px 1%;
  max-width: 583px;
  max-height: 600px;
  /* width: 97.5%; */
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 1.5em 1em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 1.3;
  /* 	font-size: 68.5%; */
}

.cap-sub {
  font-size: .6em !important;
}

/*---------------*/

/***** Jazz *****/

/*---------------*/

figure.effect-jazz {
  background: #fff;
  box-shadow: 1px 1px 5px #888888;
  transition: 0.3s;
}

figure.effect-jazz:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure.effect-jazz img {
  opacity: 1;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
  opacity: 1;
  color: #0B364E;
  font-size: 40px;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

figure.effect-jazz h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-jazz p {
  padding: 3px;
  text-transform: uppercase;
  letter-spacing: 5;
  font-size: 0.85em;
  opacity: 0;
}

figure.effect-jazz:hover img {
  opacity: 0.2;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

figure.effect-jazz:hover figcaption::after {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.header-spacer {
  display: block;
  width: 100%;
  height: 140px;
  background-color: #fff;
}

@media only screen and (min-width: 700px) {
  /* nav ul {
    padding: 0;
  } */
  @-moz-document url-prefix() { 
    .logo {
      width:  -moz-fit-content;
    }
  }
  .logo {
    width: fit-content;
  }
  
  #toTop {
    color: #0B364E;
    background: #D6E9EA;
    font-size: 30px;
    /* height: 30px; */
    width: 30px;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    padding-top: 4px;
    text-align: center;
    opacity: 1;
  }

  #toTop:hover {
    color: #D6E9EA;
    background: #0B364E; 
  }

  h2 {
    font-size: 40px;
  }
  #header-contact-btn{
    width: 90px;
    position: fixed;
    top: 25px;
    right: 50px;
    font-size: 16px;
    margin: 0;
  }
  .process-overview {
    padding: 20px 10%;
  }

  .process-overview h4 {
      font-size: 18px;
  }
  /* .process-overview-section {
    width: 49%;
  } */
  .process-name {
    font-size: 45px;
  }
  .process-name-sub,
  .editing {
    font-size: 20px;
    line-height: 1.75;
    padding: 0;
  }
  h3 {
    font-size: 27px;
  }
  p,
  li {
    font-size: 16px;
  }

  p {
    line-height: 2;
  }

  .mobile-logo {
    display:none;
  }
  
  .logo {
    display: block;
    margin: auto;
    padding: 10px 0;
  }

  .logo img {
    height: 40px;
  }

  /* #header-contact-btn {
    font-size: 20px;
  } */

  .desc{
    font-size:40px;  
  }

  p.construction {
    font-size:15px;
  }

  .nav {
    margin-left: 64.5px;
  }

  .nav li {
    float: left;
    font-size: 20px;
  }

  .nav li a {
    width: 90px;
    /* background: #EBF4F4; */
    font-size: 16px;
    margin: 0 10px 25px;
  }

  .home-box{
    z-index: 1;
    padding: 0 20px;
    margin: auto;
    width: 80%;
    max-width: 550px;
    /* background: #D6E9EA; */
  }
  
  #about-container,
  #resume-container,
  #portfolio-container,
  #contact-container {
    padding: 60px 20px;
  }
  #contact-container {
    padding-bottom: 20px;
    border-top: 1px solid rgb(27, 52, 73, 0.5);
  }
  a.about-anchor1,
  a.resume-anchor1,
  a.portfolio-anchor1 {
    top: -140px;
  }
  .name {
    font-size: 45px;
  }
  .name-sup,
  .name-sub {
    display: inline;
  }
  .name-sub {
    text-align: right;
    margin-left: 136px;
  }
  .job-titles {
    display: inline;
    font-size: 30px;
  }
  .head-overview,
  .phil-wrap,
  .res-wrap,
  .des-wrap,
  .dev-wrap {
    position: relative;
  }
  .headshot,
  .phil-icon,
  .res-icon,
  .des-icon {
    position: absolute;
    top: 50%;
    margin-top: -150px;
  }
  .phil-icon,
  .des-icon {
    right: 0;
  }
  #mob-phil,
  #mob-skill {
    display: none;
  }
  #desk-phil,
  #desk-skill {
    display: block;
  }

  .indent {
    text-indent: 2em;
  }

  .bio-overview,
  .res-overview,
  .dev-list {
    margin-left: 270px;
    padding-left: 30px;
    padding-top: 0;
  }
  .phil-overview,
  .des-list {
    margin-right: 270px;
    padding-right: 30px;
    padding-top: 0;
  }
  .phil-title,
  .gtk-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .gtk-title {
    margin-bottom: 0;
  }

  .gtk-head,
  .gig-head {
    text-align: left;
  }

  .parenthetical {
    font-size: 15px;
    text-align: left;
  }
 
  .sum-title {
    text-align: left;
    margin-bottom:20px;
    font-size: 25px;
    margin-left: 270px;
    padding-left: 30px;
    padding-top: 0;
  }

  /* .gig-sub {
    margin-top: 0;
  } */

  .wts-title {
    font-size: 25px;
  }
  .act-title {
    font-size: 25px;
  }
  .activity {
    margin: 20px 10px;
  }
  .act-icon {
    width: 75px;
  }

  .desk-text-ani {
    display: block;
  }
  .dev-menu,
  .des-menu,
  .ill-menu {
    padding: 20px 50px;
  }
  .dev-menu a.dev-burger,
  .des-menu a.des-burger,
  .ill-menu a.ill-burger {
    font-size: 30px;
    padding: 20px 50px;
  }
  .highlights {
    margin-bottom: 30px;
  }
  .skills-title {
    font-size: 30px;
  }

  /* .captext {
    top: 190px;
  } */
  /* .captitle{
    font-size: 20px;
  }
  
  .capsub {

    font-size:16px;
  } */

  .des-subhead {
    clear: left;
    font-size: 30px;
    margin: 20px 0;
    padding-top: 20px;
  }
  /* .des-subhead-logo {
    font-size: 24px;
    margin: 20px 0;
  } */
  .prev {
    left: 10;
  }
  .next {
    right: 10;
  }
  .prev,
  .next {
    font-size: 30px;
  }
  .contact-text {
    font-size: 20px;
    margin: 0;
  }
  /* Process Pages */
 
  .process-content {
    padding-bottom: 150px;
    background: #F7F7F5;
    width: 80%;
    max-width: 900px;
    margin: auto;
  }

  .process-head {
    font-size: 25px;
    text-align: left;
  }
  
  .process-subhead {
    font-size: 20px;
    text-align: left;
  }

  .ux-btn {
    width: fit-content;
    font-size: 16px;
  }
  /* .speak-louder-container, .toons-for-days-container, .werdzahn-container, .words-to-song-container, .cbe-container {
    margin: 20px 40px;
  } */
  .column {
    margin: 20px 40px;
  }
  /* .grid figure {
    display: inline-block;
    float: left;
    margin: 2% 1%;
    width: 48%;
  } */
  /* .grid figure figcaption {
    font-size: 35px;
  } */
  .grid figure figcaption {
    padding: 3em 1em;
  }
  .header-spacer {
    height: 80px;
  }
}

@media only screen and (min-width: 900px) {
  
  /* li,
  p {
    font-size: 16px;
  } */

.logo img {
  height: 55px;
}

#header-contact-btn{
  top: 30px;
}

  .desc{
    font-size:45px;  
  }
  /* p.construction{
    font-size:18px;
  } */
  .bio-overview,
  .res-overview,
  .dev-list,
  .sum-title {
    margin-left: 330px;
  }
  .phil-overview,
  .des-list {
    margin-right: 330px;
  }
  .headshot,
  .phil-icon,
  .res-icon,
  .des-icon {
    width: 300px;
  }
  .des-wrap {
    margin: 50px 0px 100px 0;
  }
  .dev-wrap {
    margin: 100px 0 50px 0;
  }

  .header-spacer {
    height: 96px;
  }
  
}

/************************************
BACKGROUND
************************************/

/* .bg {
  background: url(/images/dots-connected.png);
  position: fixed;
  background-position-x: center;
  width: 100%;
  height: 1000%;
  z-index: -1;
  opacity: 0.5;
} */

/* .bg-cbe,
.bg-wts,
.bg-sl,
.bg-werdzahn,
.bg-tfd,
.bg-cd,
.bg-sm {
  position: fixed;
  background-position-x: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 300px;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.bg-cbe {
  background: url(images/web-dev/process/process-hero.png);
}

.bg-wts {
  background: url(images/web-dev/process/process-hero.png);
}

.bg-sl {
  background: url(images/web-dev/process/process-hero.png);
}

.bg-werdzahn {
  background: url(images/web-dev/process/process-hero.png);
}

.bg-tfd {
  background: url(images/web-dev/process/process-hero.png);
}

.bg-cd {
  background: url(images/web-dev/process/process-hero.png);
} */

/* .bg-sm {
  background: url(images/web-dev/process/process-hero.png);
} */
